[2015-09-15 19:28] ianfore opened #1 "Query for "serotonin gpcr" does not return anything"
**Steps taken**
Go to the datamed.biocaddie.org interface
Enter "serotonin gpcr"
(do not enter the quotes - they are just here to make it clear what the actual query is).
Press enter/return - or click Go

**Results**
No results are returned.

**Expected results**
In contrast the elastic search endpoint returns 198 results to the query
GET /biocaddie/pdb/_search?q='serotonin gpcr'

[2015-09-15 19:35] ianfore opened #2 "Search for 5HT does not return expected results"
**Steps taken**
Enter the search term 5HT and click go or press return/enter key

**Expected results**
See the attached screenshot which indicates two records which are in the index.
It would be reasonably expected that these would be returned in a search for the term 5HT as they contain 5HT in the title
![search1](https://cloud.githubusercontent.com/assets/4731517/9887764/4fdb1f4a-5bbf-11e5-9f2b-

[2015-09-15 19:41] ianfore opened #3 "Searching for pmid:9405351 does not find the relevant data in the index"
**Steps taken**
Enter the the text pmid:9405351 into the query field and run it.

** Results **
No results are obtained

Searching by 9405351 does not return anything either.

**Expected results**
The thought behind this query is
"what are the data related to the publication identified in pubmed as 940535?"
There is certainly PDB data in the index which correspond to that.

These records can be fo

[2015-09-15 19:43] ianfore opened #4 "Organism field shows strain only"
**Steps taken**
Search for Varenicline in the datamed.biocaddie.org interface.

**Results**
One result is obtained. The organism is listed as SF9.

**Expected results**
The organism species should be shown. PDB itself indicates that the species is Aplysia californica.

** Further investigation **
It seems this is a product of the pipeline - the species is not visible in the elasticsearch record ei

[2015-09-15 20:12] ianfore opened #5 "Problems reported using the Google Chrome Web Browser"
This was reported via email but no further details were available.

[2015-09-15 20:17] ianfore commented on #5
The following steps were performed in an attempt to investigate.
Installed Chrome on Mac
Went to datamed.biocaddie.org
Was prompted for user name and password in a dialog box.

provided biocaddie/biocaddie in response
Successfully logged in
Entered "breast cancer" - one of the example searches given.
Got results back.
I am not investigating here whether they are the right results, it would not be

[2015-09-15 20:18] ianfore commented on #5
From: "Lin, Dawei (NIH/NIAID) [E]" <dawei.lin@nih.gov>
Date: Monday, September 14, 2015 at 11:36 AM
Hi All,
First of all, I am a Chrome user on Mac. I did not find any big problems . The popup window at the login seems to me is by design to restrict access for earlier testers. It may go away when it is released to the public.
...
Thank you,
Dawei

[2015-09-15 20:19] ianfore commented on #5
With the additional data point provided by Dawei I suggest we conclude that no issue with Chrome itself has been identified. So the following actions are proposed. Pending these we can close this issue.
1. Sufficient support should provided to anyone who is directed to use the prototype. This may be via documentation or otherwise.
2. The project team should make a reasonable statement about what w

[2015-09-15 20:41] jgrethe commented on #4
Will check the metadata transformation for this as it appears in the PDB XML:

<PDBx:entity_src_genCategory>
      <PDBx:entity_src_gen entity_id="1">
         <PDBx:gene_src_common_name>CALIFORNIA SEA HARE</PDBx:gene_src_common_name>
         <PDBx:host_org_common_name>FALL ARMYWORM</PDBx:host_org_common_name>
         <PDBx:pdbx_gene_src_ncbi_taxonomy_id>6500</PDBx:pdbx_gene_src_ncbi_taxonomy_id

[2015-09-15 21:35] RuilingLiu commented on #1
datamed.biocaddie.org points to UTHealth's elastic search endpoint.

To compare the results with UCSD's elastic search endpoint. Please use this link: http://datamed.biocaddie.org/ucsd/. It will return 3 results.

The reason why it only returns 3 results is because we use "multi_match" instead of "simple_query_string".

If we use "simple_query_string"
1.  search "serotonin", the endpoint returns 5

[2015-09-15 23:42] jgrethe commented on #1
The multi_match does return more specific results.  However, depending on the configuration of the multi_match (e.g. best_fields which searches for the multiple words in the same field using a match query wrapped in a dis_max query) you may end up with too small a result set - as a number of queries will need to search for the words across fields.  best_fields is the default and this applies well

[2015-09-16 22:17] ianfore commented on #1
This has started a good discussion. I think three threads arise from it.
1. We need to understand which UI URLs are pointing at which elasticsearch. Rather than explain that in text here an architectural diagram would probably convey it most clearly. e.g. it would show if datamed.biocaddie.org/ucsd points at a different elasticsearch endpoint, and whether it is a completely separate instance of th

[2015-09-29 15:01] RuilingLiu commented on #5
We have checked the cross-browser compatibility of the website by testing multiple browsers on multiple platforms. The website supports the following browsers:
1. Chrome
2. Firefox
3. Safari
4. Internet Explorer

The browsers we used for testing are: Internet Explorer 11, Safari version 8.0.8, FireFox version 40.0.3 and Chrome version 45.

[2015-09-29 15:01] #5 closed

[2015-09-29 18:54] agbeltran opened #6 "Error when searching without a keyword"
When pressing 'Go!' without a keyword, several coding errors appear in the website while it should report the lack of keyword or better, show all the available datasets. See screenshot.
<img width="1363" alt="screen shot 2015-09-29 at 19 53 46" src="https://cloud.githubusercontent.com/assets/1417033/10174885/ed00025c-66e3-11e5-95a8-9070534b1464.png">

[2015-09-29 19:00] agbeltran opened #7 "Remove 'Home' button from homepage?"
Currently the home page contains a 'Home' button that refers to the same page.
I think it is unnecessary in the home page and suggest it is removed.

On the other hand, it is indeed useful  on the search results page to go back to the homepage.

[2015-09-29 19:09] agbeltran opened #8 "Error "Undefined offset: 0 in /var/www/biocaddie/single_item.php on line 26""
To reproduce:
1. search for 'software'
2. go to the last page of results, pressing 'Last'
3. click on the title of results number 37
4. error appears at the top of the record page, as follows
"Notice: Undefined offset: 0 in /var/www/biocaddie/single_item.php on line 26"
See screenshots.

<img width="1094" alt="screen shot 2015-09-29 at 20 08 47" src="https://cloud.githubusercontent.com/assets/1417

[2015-09-29 20:52] agbeltran opened #9 "Change order of facets?"
In the search results, when looking at the overall results (e.g. Step 1 - search for 'cell line' and consider the page with the search results), the facets appear in the order:
- data types (Show results for: protein, etc)
- repositories

In the page for the results within a repository (Step 2- in the previous results page, select 'RCBS Protein Data Bank') the facets appear as:
- repositories
- Re

[2015-09-29 21:28] ianfore commented on #5
Thank you. With constantly changing browser versions this is always hard to stay on top of. The difficulty is understood. Aside from that, the four browsers named seem good to go with.

[2015-10-01 11:58] agbeltran opened #10 "Completeness of string indicating search parameters"
Steps:
1. search for 'egfr'
2. select 'GEMMA' repository
3. select 'organism' = mouse

The string at the top indicating the search parameters reads: "1-1 of 1 results for "egfr" in GEMMA" without mentioning the selection of the organism.

See screenshot.
![screen shot 2015-10-01 at 12 55 31](https://cloud.githubusercontent.com/assets/1417033/10220046/0fc5ffe0-683c-11e5-89a1-255fd6f09ebe.png)

[2015-10-13 17:40] RuilingLiu commented on #9
Thank you for your suggestion!
We are working on the new interface and the repository facet will be the first facet on all pages.

Fix:#9

[2015-10-13 17:54] #9 closed, assigned to nobody

[2015-10-13 17:57] RuilingLiu commented on #7
"Home" button will be removed from the bioCADDIE prototype version 0.2.
Thanks!

Fix: #7

[2015-10-13 17:57] #7 closed, assigned to nobody

[2015-10-16 20:55] RuilingLiu commented on #8
Fix: #8

Thanks!

[2015-10-16 20:55] #8 closed, assigned to nobody

[2015-10-16 20:56] RuilingLiu commented on #6
Fix: #6

Thanks!

[2015-10-16 20:56] #6 closed, assigned to nobody

[2015-11-25 20:33] RuilingLiu opened #11 "Unclear which should be hyperlinked"
1. Was not clear how to access the data from the record -- didn't seem to be a common way throughout records and within a record, the link did not appear as a link, just as plain text.
2. Difficult to see the links within each record.
3. Better links to data sites

[2015-11-25 20:36] RuilingLiu commented on #11
Title of the dataset will be hyperlinked

[2015-11-25 20:36] #11 closed, assigned to nobody

[2015-12-01 19:00] RuilingLiu opened #12 "Inconsistent metadata description across datasets"
1. Inconsistent metadata description across datasets -- where is the minimal level of description that all datasets should have?
2. metadata -- pulled from repository metadata but not all elements and not mapped to common so leaves you sometimes with a less complete picture than is needed
3. Metadata represented differently within each record. dbGap looks one way while PDB looks entirely different

[2015-12-01 19:06] RuilingLiu opened #13 "Too much information provided in description of dataset"
Often far too much information provided in description of dataset (e.g. phenotype information went on for >10000 words).

[2015-12-01 19:15] RuilingLiu opened #14 "Journal information is confusing"
Journal information is confusing because it is about the article, not about the dataset directly.

[2015-12-01 19:18] RuilingLiu opened #15 "More graphics to give an overview"
Once you have hits, there isn't much you can do with them, other than view manually

[2015-12-01 19:20] RuilingLiu opened #16 "Related datasets"
Links to related datasets, not just publications.

[2015-12-01 19:21] RuilingLiu opened #17 "Better clarity of access instructions for each dataset."
More info on how to get to the data

[2015-12-01 19:25] RuilingLiu opened #18 "Future filtering"
Confusion between data types and data sets.

Not sure what the icons on the left hand side of the page offer in terms of valuable information. Not clear about why this would be used.

[2015-12-01 19:25] RuilingLiu opened #19 "Needs a home or reset icon near search"

[2016-03-03 15:49] RuilingLiu opened #20 "The repository bars are not aligned with the repository names, which makes this difficult to interpret."
![untitled](https://cloud.githubusercontent.com/assets/11318005/13499638/d2f7cb40-e124-11e5-88db-aa380d906bef.png)

Issue reported by Dr. Trevor Cohen

[2016-03-03 15:51] RuilingLiu opened #21 "Is there a way to highlight what the anchor points for the search were?"
Testing with “schizophrenia” as a search term and restricting to PDB – it’s not apparent how the first few results relate to schizophrenia from any of the details provided. Obviously schizophrenia-related sets appear ranked at around rank six or so. If this sort of thing is systemic it will be very confusing to users. Is there a way to highlight what the anchor points for the search were (e.g. whe

[2016-03-03 15:53] RuilingLiu opened #22 "The PDB link from the display of a specific dataset leads to the PDB interface, rather than to that dataset"
Same goes for ArrayExpress in another search.

Issue reported by Dr. Trevor Cohen

[2016-03-03 15:54] RuilingLiu opened #23 "Multiple Types"
Why is “Multiple Types” a data type, with fewer entries than e.g. Gene Expression?

Issue reported by Dr. Trevor Cohen

[2016-03-03 17:14] naturalbeau commented on #23
"Multiple Types" means the repository contains different data types. We have changed the "Multiple Types" to "Unspecific" in the UI.

[2016-03-03 17:14] #23 closed, assigned to nobody

[2016-03-03 17:16] treversec commented on #23
I'd suggest "Unspecified" (or "Nonspecific").

[2016-03-03 17:19] naturalbeau commented on #23
Got it.

[2016-03-03 19:19] jgrethe commented on #22
Do you mean that it goes to the PDB landing page for the dataset or the top-level PDB page?

[2016-03-03 19:40] RuilingLiu commented on #20
The repository names have been moved to the center of bar. Now the repository bars are aligned with the repository names.

![biocaddie data discovery index 2016-03-03 13-39-30](https://cloud.githubusercontent.com/assets/11318005/13506791/63a0bf60-e145-11e5-9fbc-be2a993fd55a.png)

[2016-03-03 19:41] #20 closed, assigned to RuilingLiu

[2016-03-03 21:54] treversec commented on #22
To the top-level PDB page - which sort of makes sense, as it is the PDB icon, but I think a user that had followed the trial to our "individual dataset" page would be disappointed to have the trail from there lead to the need to search for the same set in PDB.

[2016-03-03 23:08] RuilingLiu commented on #22
We removed the hyperlink from PDB icon.
The hyperlink of the title of a specific dataset will lead to that dataset in PDB.

We made the same change to other repositories.

![biocaddie data discovery index 2016-03-03 17-06-09](https://cloud.githubusercontent.com/assets/11318005/13512763/41459036-e162-11e5-8ae9-8ebd584d54d4.png)

[2016-03-08 15:47] saeid-p opened #24 "UI Interface Issues: Reported By Dr. Avi Ma’ayan"
The following list of issues are reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).
-   The search results page is too cluttered (see attachment for proposed rearrangement of the results page
-   The search results are too slow
-   The numbers for the various categories increase in a random inconsistent way
-   Users always expect logo to be clickable. It's currently not. I would link the image t

[2016-03-08 15:54] saeid-p opened #25 "Search Performance Issue"
This issue has been reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).

The search results are too slow.

[2016-03-08 15:55] saeid-p opened #26 "Sort Category Filters Based On Count"
This issue has been reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).
The numbers for the various categories increase in a random inconsistent way.

[2016-03-08 15:56] saeid-p opened #27 "Search Result Interface Improvement Proposal"
This issue has been reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).

The search results page is too cluttered. Here is the proposed rearrangement of the results page:
<img width="160" alt="biocaddie_mockup" src="https://cloud.githubusercontent.com/assets/6471104/13607020/fb456c68-e513-11e5-89a4-99cffc2b09f8.png">

[2016-03-08 15:58] saeid-p opened #28 "Make Project Logo Clickable"
This issue has been reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).

Users always expect logo to be clickable. It's currently not. I would link the image to the homepage and remove the "Home" nav button. Banner text will look clearer if it's actually text instead of an image.

[2016-03-08 15:59] saeid-p opened #29 "Change The Banner Logo"
This issue has been reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).

Not a fan of the banner text. TeXt sEEms tO LooK liKE tHIs Too MUch.

[2016-03-08 16:01] saeid-p opened #30 "Feedback Menu Design"
This issue has been reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).

Feedback is too prominent. It's on the nav and if people want to leave feedback, they'll find where to leave it.

[2016-03-08 16:02] saeid-p opened #31 "Top Heading White Space"
This issue has been reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).

A lot of white space at the top right. Either combine the top white banner with the nav or put something there.

[2016-03-08 16:03] saeid-p opened #32 "Remove Collapse/Expand Feature of Ancillary Panels In The Search Result"
This issue has been reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).

Not really necessary to expand and contract the menus on the side of search results.

[2016-03-08 16:04] saeid-p opened #33 "Unnecessary Suggestion Panel In The Landing Page While Searching"
This issue has been reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).

That dropdown that opens when you start searching is a little confusing and a bit annoying. Let the user filter results once the search is complete.

[2016-03-08 16:04] saeid-p opened #34 "Hide Filter Items When No Result Returned"
This issue has been reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).

Filters shouldn't show if there are 0 results for them.

[2016-03-08 16:05] saeid-p opened #35 "Neccessity of "unspecific" Filter"
This issue has been reported by Dr. Avi Ma’ayan (From the LINCS DCCIC).

Is the "unspecific" filter necessary?

[2016-03-08 16:06] #24 closed, assigned to nobody

[2016-03-10 15:49] naturalbeau commented on #34
We have moved the filters which return 0 results in the search.php page.

[2016-03-10 15:49] #34 closed, assigned to nobody

[2016-03-10 15:52] naturalbeau commented on #26
We have sorted the datatypes by the number of return results.

[2016-03-10 15:52] #26 closed, assigned to nobody

[2016-03-10 16:41] RuilingLiu commented on #35
This is a typo. It should be "unspecified"

[2016-03-10 16:41] #35 closed, assigned to nobody

[2016-03-10 16:45] #22 closed, assigned to nobody

[2016-03-10 20:27] RuilingLiu opened #36 "Home page logos"
Comments from Dr. Phil Bourne

Clicking on the biocaddie logo on top left does not take you home as is customary.

[2016-03-10 20:29] RuilingLiu opened #37 "Search for estrogen receptor does not return expected results"
Comments from Dr. Ronald Margolis

I just searched estrogen receptor and haven’t seen NURSA on the list yet, but there are thousands of datasets that come up.

Is there someplace where the greater than 20 repositories are listed?  So that one knows the landscape before searching?

[2016-03-10 20:33] RuilingLiu opened #38 "Reset function and search results on the datasets page"
Comments from Dr. Ronald Margolis
1. I note initially that they need a ‘reset’ for the search.
2. Also, on the datasets page (I think datasets) - ‘Size’ column should include units.
3. Accession looks like a Source Identifier.  (?)

[2016-03-10 21:02] RuilingLiu commented on #37
If you search "Nuclear Receptor", NURSA will be on the list.

We created [a new page](http://datamed.biocaddie.org/repository_list.php) to display all repositories which have been integrated in the prototype. This page can also be accessed by clicking on the "23 Repositories" on the homepage.

[2016-03-14 13:20] readkev opened #39 "Links to related datasets?"
When looking at a specific dataset, it does not provide any links to related datasets I might find useful. Instead, it provides links to related publications.

Example: Looking at the VAERS dataset for adverse events, I would hope to see a link to other related datasets on the reporting of adverse events suggested to me.

[2016-03-14 15:02] chung88 commented on #39
A relationship network graph would be nice, right now, I see a tag.

Related Dataset:    hdl:3
Dataset ID :    hdl:1902.1/15463

[2016-03-14 15:16] chung88 opened #40 "LINCS: Synonyms of "lincs""
Not really a Life Science synonym.

Synonyms of "lincs"
Lincolnshire (geographic location)
http://datamed.biocaddie.org/expanded-query.php

[2016-03-14 15:36] chung88 opened #41 "LINCS: Search term "LINCS""
Steps:
1.-  Type term "LINCS"
2.-  Suggest shows random numbers (slide 1, 2)
3.-  Take a screenshot, 18 shows in between "(18)"  (slide 3)

[bioCaddie-LINCS.pptx](https://github.com/biocaddie/prototype_issues/files/172237/bioCaddie-LINCS.pptx)

[2016-03-14 15:40] chung88 commented on #41
Steps:
1.-  Type term "Kinomescan"
2.-  Returns under Repositories LINCS (158)

The count for search term "LINCS" is not correct.

[2016-03-14 15:55] chung88 opened #42 "LINCS: KINOMEScan is not gene expression (bioCADDIE data type)"
In bioCADDIE LINCS is under the "Gene Expression"  data type.  KINOMEScan is a biochemical profiling assay for kinase inhibitor drug discovery, not a gene expression assay.

LINCS has several data types.

I am guessing the following are the 10 data types:
 Clinical Trials (43152)
 Unspecified (30619)
 Gene Expression (11437)
 Nucleotide Sequence (1391)
 Protein Structure (153)
 Imaging Data (56)

[2016-03-14 16:07] RuilingLiu commented on #39
@readkev In version 0.5, the "similar datasets" function has only been implemented for data sets in PDB, GEMMA and LINCS repositories. So not every data set has similar data sets.

[2016-03-14 16:21] RuilingLiu commented on #41
The suggestion function is a keyup event. It occurs when a keyboard key is released.

Each time you enter a letter, the backend program queries the current string. The number in slide 1 might be the result of the string "LI", the number in slide 2 might be the result of string "LINC". And the number in slide 3 is the result of the string "LINCS".

[2016-03-14 16:28] chung88 commented on #41
The suggest is against the dataset tittle.  If the tittle does not have the term LINCS.  How can I list all the datasets from LINCS?

[2016-03-14 17:55] RuilingLiu commented on #41
We don't have the option to list all the datasets from LINCS in the version 0.5. We will implement this function later.

Thank you for your suggestion!

[2016-03-14 18:14] aegururaj commented on #42
Caty, currently we are tagging data types to the repositories. If LINCS has several data types, then we'll tag it as unspecified. Thanks for pointing this to us. On the same note, do you have tags for data types to each dataset? If yes, what ontology are you using to do this?

[2016-03-14 18:20] RuilingLiu commented on #40
"Lincolnshire" is not a synonym of "lincs". We will check our terminology server and correct this error.
Thank you!

[2016-03-15 14:57] aegururaj commented on #28
Done

[2016-03-15 14:57] #28 closed, assigned to nobody

[2016-03-15 15:11] RuilingLiu commented on #42
The data type of "LINCS" repository has been changed to "Unspecified"

[2016-03-15 15:12] #37 closed, assigned to nobody

[2016-03-15 15:14] RuilingLiu commented on #31
bioCADDIE logo has been moved to the top right

[2016-03-15 15:14] #31 closed, assigned to nobody

[2016-03-15 16:12] chung88 commented on #42
The UI filter box "Data Type" and the table "Data Type" are not the same.  The data type in the table (step 4) is better than unspecified.

Steps:
1.-  Search term:  KINOMEScan
2.-  Filter box shows
Data Types: Unspecified (158)
View [search results](http://datamed.biocaddie.org/search.php?query=kinomescan&searchtype=data)
3.-  Click on "LINCS" tag
4.-  View content on the table
DataType:  Biochem

[2016-03-15 18:44] saeid-p opened #43 "PDB Ranking Issue"
This issue has been reported by Greg Farber.

I received an e-mail asking me to look at the v0.5 interface. I tried a few queries, and I was not terribly impressed. The PDB is listed as a repository that is indexed by BioCADDIE. When "xylose isomerase" was entered, nothing showed up even though there are more than 100 entries in the PDB for this molecule. A search on autism and data repositories d

[2016-03-15 18:48] saeid-p commented on #43
Answered by @RuilingLiu

Hi Greg,

Thank you so much for your feedbacks!
1. When xylose isomerase was entered, nothing showed up even though there are more than 100 entries in the PDB for this molecule. When xylose isomerase was entered, there were 125 entries in PDB. Do you mean that these entries were not what you expected?
   Please refer to this page: http://datamed.biocaddie.org/search.php?qu

[2016-03-15 20:47] ianfore commented on #36
I would suggest we enter these as separate issues. That will make follow up easier.

#3 is a broad strategic issue.

[2016-03-15 20:54] RuilingLiu opened #44 "Histogram on the homepage"
Comments from Dr. Phil Bourne

The home page logos are misleading it says 23 repositories but the histogram has only a few so it is not immediately obvious what you are searching over.

[2016-03-15 20:55] saeid-p opened #45 "PDB Ranking Issue"
I tried a few queries, and I was not terribly impressed. The PDB is listed as a repository that is indexed by BioCADDIE. When "xylose isomerase" was entered, nothing showed up even though there are more than 100 entries in the PDB for this molecule.

[2016-03-15 20:55] saeid-p commented on #45
Answered by @RuilingLiu

Hi Greg,
Thank you so much for your feedbacks!

When xylose isomerase was entered, nothing showed up even though there are more than 100 entries in the PDB for this molecule. When xylose isomerase was entered, there were 125 entries in PDB. Do you mean that these entries were not what you expected?
Please refer to this page: http://datamed.biocaddie.org/search.php?query=xy

[2016-03-15 20:56] saeid-p opened #46 "Inconsistent result after searching for Autism"
This issue has been reported by Greg Farber.

A search on autism and data repositories did show some repositories, but the amount of information about autism in the repositories varied tremendously.

[2016-03-15 20:57] saeid-p commented on #46
Answered by @RuilingLiu

Hi Greg,
Thank you so much for your feedback!

When we ingested the metadata from the repositories, the numbers of data sets in the repositories varied tremendously. For example, there are 192,501 data sets in ClinicalTrials.gov repository, there are only 236 data sets in MPD repository. That’s why the amount of information in the repositories varied tremendously.

[2016-03-15 20:57] RuilingLiu commented on #44
The histogram only displays the top 8 repositories. The title of the histogram has been changed from "Repositories" to "Top 8 Repositories"

[2016-03-15 20:57] #44 closed, assigned to nobody

[2016-03-15 20:58] saeid-p opened #47 "Ranking Mechanism in Public Release"
This issue has been reported by Greg Farber.

This issue is very significant. How will the results be ranked once the infrastructure is open to the public?

[2016-03-15 20:58] saeid-p commented on #47
Answered by @RuilingLiu
Hi Greg,

Thank you so much for your feedback!

How will the results be ranked once the infrastructure is open to the public?
In our current version, the results are ranked using Elasticsearch's default ranking algorithm. In our future release, we will track the users' selections and refine the ranking results based on their selections.

[2016-03-15 21:01] RuilingLiu commented on #36
Clicking on the DataMed logo takes you home, while clicking on the bioCADDIE logo takes you to bioCADDIE homepage

[2016-03-15 21:01] #36 closed, assigned to nobody

[2016-03-15 21:13] RuilingLiu commented on #46
When we ingested the metadata from the repositories,  the numbers of data sets in the repositories varied tremendously. For example, there are 192,501 data sets in ClinicalTrials.gov repository, there are only 236 data sets in MPD repository. That’s why the amount of information in the repositories varied tremendously.

[2016-03-15 21:21] RuilingLiu commented on #42
The "Unspecified" is the type of the LINCS repository.

The data type in the table is the type of each data set in LINCS. We can use it as a filter for LINCS data sets since not every repository has tagged data types to their data sets.

[2016-03-17 17:29] ianfore commented on #43
What are the criteria for closing an issue. We really need to check in with the people who raise an issue as to whether it is "closed" in their mind. Did we get any response from Greg?

Also - which issue is this a duplicate of?

[2016-03-17 19:18] RuilingLiu commented on #43
Saeid separated this issue and reported them in #45 #46 #47 because it's easier for us to close the issues as we address each of them.It seems that GitHub issues cannot be deleted so he marked it as "Duplicate".

Greg emailed us his feedback and we already replied to his email. We haven't gotten any response from him.

[2016-03-17 20:30] soysal commented on #40
Actually Lincs is also an abbreviation for Lincolnshire and it comes from [SNOMED CT concept id 223889007](http://browser.ihtsdotools.org/?perspective=full&conceptId1=223889007&edition=en-edition&release=v20160131&server=http://browser.ihtsdotools.org/api/snomed&langRefset=900000000000509007)

[2016-03-17 20:30] #40 closed, assigned to nobody

[2016-03-18 17:38] saeid-p commented on #43
Hi Ian,

I hope Ruiling explanation was explanatory enough for this ticket. I mistakenly posted all three issues together. Then I separated then into three different thread.

Best,
Saeid

[2016-03-18 21:06] altergc opened #48 "Recognizing Repositories in metadata from Aggregators"
When DataMed displays data from an aggregator, the display should recognize the repository that the data were harvested from.  Here is an example:

If you perform the search "phdcn mental health services" on the DataMed search, the lead result is "Project on Human Development in Chicago Neighborhoods (PHDCN): Mental Health Services, Wave 3, 2000-2002"
See
http://datamed.biocaddie.org/search.php?qu

[2016-03-21 13:03] ianfore commented on #45
If you include the quotes in the text you put in the search box then you get no results. Is that what Greg did? I've asked him.
If you just type xylose isomerase you get 208 results.

[2016-03-21 13:10] ianfore commented on #43
Reclosing - now I understand better what happened. When an issue is closed it always helps to communicate why it was closed.

Links to the replacement issues here I hope. Will pick up the dialog in each thread separately.
[45](https://github.com/biocaddie/prototype_issues/issues/45)
[46](https://github.com/biocaddie/prototype_issues/issues/46)
[47](https://github.com/biocaddie/prototype_issues/iss

[2016-03-21 13:10] #43 closed, assigned to nobody

[2016-03-21 13:34] saeid-p opened #49 "Issue With Landing Page Search Box"
This issue has been reported by Andrew Su.

The front page search box doesn't quite work as I'd expect. you do live searches as people type, but they apparently are restricted to whole words. For example, when I am typing "melano" I see zero hits, but I am expecting to see the totals for "melanoma" + "melanocyte" (plus other terms starting with "melano").

[2016-03-21 13:36] saeid-p opened #50 ""Detail View" field-by-field search capability"
This issue has been reported by Andrew Su.

In "detail view" I expect to be able to search on any column by clicking the column header.

[2016-03-21 13:38] saeid-p opened #51 "Citation count enhancement"
This issue has been reported by Andrew Su.

I only see a "citations" data for GEO data sets. Is there a plan to expand that to other providers? Also, it's not clear to me what "citations" actually means. Is that citations of the linked paper, or direct citations of the data set itself? Also, it would be useful to be able to click through to the PubMed records of the citing publications.

[2016-03-21 13:39] saeid-p opened #52 "Query translation improvement"
This issue has been reported by Andrew Su.

I could imagine a useful plugin for gene/transcript/protein/metabolite queries that essentially answered the question "In what data sets was this biomolecule identified as interesting?" where interesting could be mutated, deferentially expressed, etc. How would a plugin like this be technically achieved?

[2016-03-21 13:41] saeid-p opened #53 "Linking LINCS datasets to LINCS portal"
This issue has been reported by Stephan Schurer.

Can you link LINCS datasets to the LINCS Portal. Via datasets IDs. http://lincsportal.ccs.miami.edu/datasets/ This is available via our APIs.

Thanks, Stephan

[2016-03-21 13:43] saeid-p opened #54 ""Contact" feature without GitHub account"
This issue has been reported by Lucila Ohno-Machado.

For those who do not want to set up an account in GitHub there this "contact me" page could be linked from the feedback solicitation box that appears in the left column after filtering options. The dropdown "feedback" tab should also include a link to this "contact me" page. I believe we should allow for anonymous feedback as well. Wherever peo

[2016-03-21 13:58] saeid-p opened #55 "Retrieving synonyms while cookies disabled"
This issue has been reported by Lucila Ohno-Machado.

One thing that I noticed is that if you disable cookies in Firefox 44.0.2 and in Safari 9.0.3 you can't get the synonyms. I attached a screenshot of what you get when cookies are disabled.

![screen shot 2016-03-18 at 11 59 43 am](https://cloud.githubusercontent.com/assets/6471104/13920838/f8cb28ae-ef42-11e5-94e0-5668aa5b6c19.png)

[2016-03-21 14:58] saeid-p opened #56 "Question about indexes linkage to control vocabularies"
This question has been reported by Stephan Schurer.

I had one question regarding the index. Are they linked to actual controlled vocabulary at the source repositories. I see different results for EGFR and Epidermal growth factor receptor and couple other examples. Or are they right now indexed to free text at at the source.
Looks though you do have a dictionary in bioCADDIE.
For LINCS we can demo

[2016-03-21 16:36] saeid-p opened #57 "Expanding data repositories to cover different disciplines"
This issue has been reported by Belinda Seto.

The 23 repositories are primarily focused on cancer. NCI is about to launch the NCI commons will initially be seeded with 4 of its major data repositories. Datamed is providing low hanging fruits. I don't see data repositories from other disciplines, eye diseases, kidney, arthritis and many more beyond cancer. These latter data will be truly value-add

[2016-03-23 19:41] RuilingLiu commented on #54
There is a link to "contact me" page under the "feedback" tab. Users can reach this link by clicking on "Feedback" tab, then clicking on "Report an issue" label

<img width="503" alt="screen shot 2016-03-23 at 9 38 04 am" src="https://cloud.githubusercontent.com/assets/11318005/13998361/d3583bd4-f104-11e5-9f7a-dc3acab86486.png">

[2016-03-23 21:13] RuilingLiu commented on #19
Clicking on DataMed logo will take the users to the homepage

[2016-03-23 21:13] #19 closed, assigned to nobody

[2016-03-24 20:07] naturalbeau commented on #53
Link the LINCS dataset to the LINCS Portal in the display-item page.

[2016-03-24 20:07] #53 closed, assigned to nobody

[2016-03-28 14:53] #54 closed, assigned to nobody

[2016-03-28 15:37] saeid-p opened #58 "Separating Search Panel and Infographics"
This issue has been posted by Mary Vardigan.

The prototype is very impressive. One issue for me was that the infographics on the search page are so appealing that my eye automatically skipped to them and I didn't at first see the search bar at the top. You might consider separating these two page components a bit or adding more color or bold text to the area of the page devoted to search.

[2016-03-28 19:38] nursatranscriptomine opened #59 "Link to datasets using DOI"
For repositories that map datasets to DOIs, outbound links from DataMed to the repository datasets should be DOI-driven rather than URL driven - in the attached example, the link should be:

http://dx.doi.org/10.1621/zFZm9NEsnh

This resolves to the dataset page.

![datamed](https://cloud.githubusercontent.com/assets/14809879/14087973/5c2f041a-f4f2-11e5-90dd-1d74109c9a4d.png)

[2016-03-29 19:20] ianfore commented on #45
Email sent to

Hi Greg,

The site does now seem to be up.
http://datamed.biocaddie.org

When I run the query with "xylose isomerase” including the double quotes it returns nothing. Does that match your experience?

If I leave the quotes out I get 208 results. Whether or not that gives you useful results only you can answer, but I would be very interested to know.

This particular issue is now at t

[2016-03-29 19:50] ianfore commented on #57
The following link lists the data resources indexed by datamed [datamed.biocaddie.org/repository_list.php](http://datamed.biocaddie.org/repository_list.php)

We should try and get some feedback from Belinda on this list.

[2016-03-29 19:57] ianfore commented on #57
Suggesting we add Belinda to [WG6](https://biocaddie.org/group/working-group/working-group-6-criteria-repository-inclusion-standards-interoperability).

[2016-03-30 19:55] sthagstrom commented on #47
Testing reply to see where it goes.

From: aegururaj [mailto:notifications@github.com]
Sent: Wednesday, March 30, 2016 11:53 AM
To: biocaddie/prototype_issues prototype_issues@noreply.github.com
Cc: Hagstrom, Stephanie sthagstrom@ucsd.edu
Subject: Re: [biocaddie/prototype_issues] Ranking Mechanism in Public Release (#47)

Assigned #47https://github.com/biocaddie/prototype_issues/issues/47 to @stha

[2016-03-31 15:42] RuilingLiu commented on #55
This issue has been fixed.
Synonyms can be retrieved when cookies are disabled

[2016-03-31 15:42] #55 closed, assigned to RuilingLiu

[2016-03-31 15:53] naturalbeau commented on #45
Now the search engine can handle the query rounded by double quotes as a phrase. When search "skin cancer" including double quotes, it returns  9094 results. When search "skin cancer" without double quotes , the search engine will treat it as two words and it returns 14906 results.

[2016-03-31 21:31] jgrethe commented on #45
Confirmed that this is working correctly now:
http://datamed.biocaddie.org/search.php?query=%22Xylose%20Isomerase%22&searchtype=data&offset=1&repository=0002

Returns 189 PDB results

[2016-04-04 20:04] RuilingLiu commented on #54
Privacy policy has been added. It is highlighted in red

![screen shot 2016-04-04 at 3 01 42 pm](https://cloud.githubusercontent.com/assets/11318005/14261438/324b6484-fa76-11e5-836d-3e7241f7c8e8.png)

[2016-04-04 21:44] ianfore commented on #1
This is closely connected with #45 . These threads both contain useful perspectives on the issues of how a user enters a multiple word query. Let's continue the dialog in #45 .

Still not clear that we have consensus of how this should work. Is there something that "most" users would prefer.

[2016-04-04 21:46] ianfore commented on #45
Still not clear that we have consensus of how this should work. "Correctly" is highly subjective. Is there something that "most" users would prefer.

[2016-04-05 11:07] agbeltran commented on #12
@aegururaj These issues seem to me related to how the metadata is ingested and/or displayed. Which one in particular do you think it is related to the model that we (WG3) should look at?
Many thanks.

[2016-04-05 14:33] aegururaj commented on #12
@agbeltran Part of the issue is the way the metadata is displayed....I thought it may also be useful to point them to the metadata specification document. Another issue is what we ultimately decide to do with the metadata provided by the repositories that are not part of our metadata model. Any thoughts?

[2016-04-05 14:49] jgrethe commented on #12
We are currently completing the review of the metadata from the repositories (with a Google spreadsheet) - so that will help to identify mis-alignments, inter-curator variation, and also the metadata elements that repositories have that we haven't included.

https://docs.google.com/spreadsheets/d/1webTNFcxriJmz-O8kjEikFpewpn9GWQ6K_4erJ9Bz8w/edit#gid=1288533223

For some of the "new" elements - we

[2016-04-05 15:17] jgrethe commented on #45
Hi Ian,
The "correct" comment I made is that the search with text in " " is now being handled and returns expected results.  However, I agree that other discussion around search strategies - #1 - need to continue.

[2016-04-05 15:22] soysal commented on #49
Even if the prefix "melano" seems very specific, a partial search will include many different terms like melanol, melanoblastoma, melanotic ... (e.g. stool, macule, ...), melanocytosis, melanopa (Cheilosia, Dolichogenidea, ...), melanoblast, melanotan, melanosis, melanoblastosis, melanocytoma, ... and the result set will be  a jam of unrelated terms. In turn it's very less likely to be useful for

[2016-04-05 15:22] #49 closed, assigned to soysal

[2016-04-05 16:31] margolisr commented on #33
This is a valid comment that relates to ease of use of the search feature of the UI. It is imperative to have a 'clean' entry to the UI to allow for both ease of use (both experienced and naïve user) and rapid return of results. Filters that are simple to apply will make the process smooth and encourage return use.

[2016-04-05 16:31] #33 closed, assigned to margolisr

[2016-04-05 20:07] saeid-p opened #60 "Change Date Formats To Follow Standards"
A feedback from Jessie Tenenbaum.

Looks great overall! a few minor things. In some detail view that i now can't find, there are columns for dates but the dates are formatted as 20160404. hard to read.

[2016-04-05 20:08] saeid-p opened #61 "Add Breadcrumbs For Selected Fitlers"
A feedback from Jessie Tenenbaum.

Looks great overall! a few minor things. Would be nice to have "breadcrumbs" of what's been selected across the top with an X to easily remove any given filter.

[2016-04-05 20:36] naturalbeau commented on #10
1.The UI now has a "clear all" button when any repository is selected, which allows user to deselect multiple repositories in one click.
2. In the detail view page, when user select any filter, the filter information will appear in the top of search results.

See screenshots.
![1](https://cloud.githubusercontent.com/assets/6586013/14297172/31892d1a-fb43-11e5-8407-7c10e65b0959.png)
![2](https://clo

[2016-04-05 20:36] #10 closed, assigned to naturalbeau

[2016-04-06 19:10] saeid-p opened #62 "Existing Data Discovery Indexes and bioCaddie"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

The thing I like least about the prototype is that you are reinventing the wheel. The Cyverse Discovery Environment already provides the infrastructure. This integrates distributed data access (iRODS), distributed computing (Condor), and applicat

[2016-04-06 19:11] saeid-p opened #63 "Add Collaborative Research Feature"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

Your prototype is missing support for collaborative research. It is designed to support individual researchers discovery and access. It needs to provide workspaces for collaborative analyses that are distributed across multiple site. In many case

[2016-04-06 19:13] saeid-p opened #64 "Implement Access Controls and Audit Policy"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

Access controls are critical. Every access needs to be authenticated. Every operation needs to be authorized. Policies are critical. You need to be able to enforce assertions about the system (presence of required access controls, presence of req

[2016-04-06 19:14] saeid-p opened #65 "Extending the range of metadata for datasets"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

I see lack of metadata about each dataset -- especially in terms of description, what it is/has been used for, standards used, who created it, etc.

[2016-04-06 20:40] jgrethe commented on #64
Not sure why access controls are critical as we are currently not searching over protected information.

This comes from the iRODS group at RENCI.  Not sure why we would need provability of transactions as we are just a search site.

[2016-04-06 20:44] jgrethe commented on #65
There is an on-going review of the metadata provided by the repositories.  Agree that we could add information on standards (e.g. what standard was used to supply the metadata).

[2016-04-06 20:46] jgrethe commented on #63
We are not storing any data so no computation to run at the storage location.  We may consider some collaborative workspaces (e.g. sharing of result sets, etc...)

[2016-04-06 20:48] jgrethe commented on #62
Cyverse doesn't actually provide data search across distributed repositories.  It does allow for search across distributed data stored within Cyverse.  So Cyverse would be a potential repository for the index.  Cyverse is NSF funded and started out from iPlant - but would need to find out if they have any biomedical data.  They may have some microbiome data though...

[2016-04-06 21:05] saeid-p opened #66 "Add related datasets for each record"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

I suggest to add related datasets for each record (what datasets are like the one I'm looking at?)

[2016-04-06 21:07] saeid-p opened #67 "Update interface to separate primary publication from associated publications"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

Publication that is directly a result of the produced dataset should be included inline with the rest of the metadata, and then other related publications on the right hand side.

[2016-04-07 20:58] naturalbeau commented on #59
In the prototype, only the Dryad and Nursa map datasets to DOIs. Now both of them are using DOI as the outbound links.
![4](https://cloud.githubusercontent.com/assets/6586013/14366621/5292432e-fcd9-11e5-9998-c330a95a91d0.png)
![3](https://cloud.githubusercontent.com/assets/6586013/14366623/54e50756-fcd9-11e5-85ba-287e10be8a22.png)

[2016-04-07 20:58] #59 closed, assigned to naturalbeau

[2016-04-07 21:00] nursatranscriptomine commented on #59
Thanks!

From: Xiaoling [mailto:notifications@github.com]
Sent: Thursday, April 07, 2016 3:59 PM
To: biocaddie/prototype_issues
Cc: McKenna, Neil J
Subject: Re: [biocaddie/prototype_issues] Link to datasets using DOI (#59)

In the prototype, only the Dryad and Nursa map datasets to DOIs. Now both of them are using DOI as the outbound links.
[Image removed by sender. 4]https://cloud.githubuserconte

[2016-04-07 21:37] RuilingLiu commented on #3
Using PMID as one of the search fields. Now searching for pmid:9405351 will return the relevant data in the index.

<img width="1240" alt="screen shot 2016-04-07 at 4 34 16 pm" src="https://cloud.githubusercontent.com/assets/11318005/14367620/9c46f1a4-fcde-11e5-8840-d719ec3c55b1.png">

[2016-04-07 21:37] #3 closed

[2016-04-08 15:11] naturalbeau commented on #51
The "citations" data for GEO is from the Data Rank pilot project. Here "citations" means the number of paper that cites this data set. We will expand this feature to other providers in the future. Make the linked paper clickable to the Pubmed  would be a good feature to add to our prototype.

[2016-04-08 16:35] naturalbeau commented on #2
The current search engine in the prototype does not handle wildcarding. Also, the search is operated on whole terms, so it does not do partial matching. That is why search "5HT" will not return "5HT2C".

[2016-04-11 02:40] saeid-p opened #68 "Highlight the Search Terms"
This feedback has been collected from biocaddie Contact Us Form. In order to protect user's privacy, the personal information has been removed.

Thank you for the invitation to preview the DataMed prototype. Here are some initial comments I have after clicking around the DataMed site. So far, I’ve restricted my searches to the data I am most familiar with, NCBI GEO and BioProject. General comments

[2016-04-11 02:41] saeid-p opened #69 "Make External Repositories Link More Obvious"
This feedback has been collected from biocaddie Contact Us Form. In order to protect user's privacy, the personal information has been removed.

On the full records, I think the button that links to the original record should be more obvious. This is particularly important if biocaddie indexing is not on the same schedule as the source database, which may lead to biocaddie not reflecting recent up

[2016-04-11 02:43] saeid-p opened #70 "GEO Data Redundancies & Data Format"
This feedback has been collected from biocaddie Contact Us Form. In order to protect user's privacy, the personal information has been removed.
- I’m guessing these uploads are not yet complete/comprehensive, because I noticed that lots of GEO records are missing. I tried searching for random accessions GSE108, GSE1081 and GSE10811, but none were found (though ArrayExpress version of GSE108 was fo

[2016-04-11 14:30] saeid-p opened #71 "Ability to view results in different formats"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

It would be great if we could get information on how to gain access to the datasets (e.g. license, required steps to gain access) and had the ability to view results in different formats (e.g. full description view, vs. snippet view).

[2016-04-11 14:32] saeid-p opened #72 "Add New Fields To Sorting"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

Sorting should be expanded to author, by date published, repository, title and we should be able to select the number of results I want to see per page. Additionally, export functions to citation managers is a good feature to have.

[2016-04-11 14:39] saeid-p opened #73 "Having a feature to build collections and have more filters."
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

It is valuable if we could have a "MyNCBI" type tool where I can build collections. I'm glad to see saved searches is already included. Additional filters for limiting to "human, animal, cell line, etc.", limiting to a publication date range is u

[2016-04-11 14:47] saeid-p opened #74 "Feedback About Search Page"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.
- The repositories page made me think that when I clicked on it it would take me to all datasets from that repository, not directly to the repository webpage.
- I am confused by the synonyms tag -- what does this mean? For example, when I searched

[2016-04-11 14:49] saeid-p opened #75 "Issue About Landing Page Visualization"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

About statistics panel, "23 Repositories" is a link to the list of repositories. About "10 Data Types", why isn't this a link to the list of data types with information/definitions? about them? Same thing about the Pilot Projects.

About your slo

[2016-04-11 14:51] saeid-p opened #76 "Expand/Collapse and Navigation Issue"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

On the main page, there are some 'drop down' icons (arrows) that do not have any capacity to minimize/maximize. Similarly, when navigated to an entry (example: http://datamed.biocaddie.org/display-item.php?repository=0009&idName=Dataset.briefTitl

[2016-04-11 14:53] saeid-p opened #77 "Export citations to clipboard directly"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

It would be great to have a citation function that allows you to copy the citation for the dataset to your clipboard.

[2016-04-11 15:01] saeid-p opened #78 "Indexing data papers"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

From a publishers perspective, I would be interested in the potential of indexing data papers in DDI as well as receiving data paper submissions from DDI.

[2016-04-11 15:03] saeid-p opened #79 "Search interface improvement"
This feedback has been collected from survey feedback questionnaire form. In order to protect user's privacy, the personal information has been removed.

It is not clear why related searches are showing some topics -- if a feature is not yet implemented it's better not to show search suggestions. Unchecking a box takes a long time, and so does a browser back button. I suggest to have some elements

[2016-04-11 18:14] RuilingLiu commented on #68
This is the same request as #21 . @naturalbeau is working on #21 .

[2016-04-11 18:21] #68 closed, assigned to RuilingLiu

[2016-04-11 18:27] RuilingLiu commented on #67
If a publication is  a direct result of the produced dataset, it is already included inline with the rest of the metadata.

![biocaddie data discovery index 2016-04-11 13-26-01](https://cloud.githubusercontent.com/assets/11318005/14437877/f73a2ac4-ffe8-11e5-8167-ed7b5143e90e.png)

[2016-04-11 18:37] RuilingLiu commented on #16
similar issue: #39

[2016-04-11 18:37] #16 closed, assigned to RuilingLiu

[2016-04-11 19:13] RuilingLiu commented on #38
1. "I note initially that they need a ‘reset’ for the search."

On the search result page, there is a "Clear All Filters" button added by @naturalbeau . It can clear all selected filters.

To start a new search, users can simply search a new term.

![biocaddie data discovery index 2016-04-11 14-08-09](https://cloud.githubusercontent.com/assets/11318005/14439070/e489b9de-ffee-11e5-9c96-327240133b14

[2016-04-11 19:29] RuilingLiu commented on #38
"Also, on the datasets page (I think datasets) - ‘Size’ column should include units."

Unit has been added to the "size" column

![biocaddie data discovery index 2016-04-11 14-27-13](https://cloud.githubusercontent.com/assets/11318005/14439591/87c7bc16-fff1-11e5-9255-d25dd8146afb.png)

[2016-04-11 19:30] #38 closed, assigned to RuilingLiu

[2016-04-11 19:45] aegururaj opened #80 "Getting more done in GitHub with ZenHub"
Hola! @aegururaj has created a [ZenHub](http://www.zenhub.io) account for the **biocaddie** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

---
#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account. O

[2016-04-11 19:54] naturalbeau commented on #21
Now in the search result page, the search term will be highlighted.
![5](https://cloud.githubusercontent.com/assets/6586013/14440289/d26e31de-fff4-11e5-9107-34d6a1db660c.png)

[2016-04-11 19:54] #21 closed, assigned to naturalbeau

[2016-04-11 20:11] jgrethe commented on #67
I am not sure if that holds for all the data sources - as some data sources only provided the PMID.  Another question - do we want to add the full abstract for the publication to the index?

[2016-04-11 20:53] naturalbeau commented on #52
Email sent to Andrew Su

Dear Andrew,
        My name is Xiaoling Chen, I am the programmer in the BioCaddie datamed prototype development team. First thank you for your thoughtful feedback about our prototype.
         Now we are in the stage to address the feedbacks we got. I have a question about the feedback you mentioned. You mentioned 'I could imagine a useful plugin for gene/transcript/prot

[2016-04-11 21:05] naturalbeau commented on #52
Andrew Su replies:

yes, your understanding of my suggestion is exactly right.  After you have a chance to deliberate, it would be useful to hear where this idea falls on your priority list (if at all).  I am interested enough to assign someone on my end to actually do the calculations (in all GEO data sets for example).  And given the output, it would be nice if there was some way to expose the r

[2016-04-12 15:28] naturalbeau commented on #60
The date format in the UI are checked and changed to format as 04-04-2016.

[2016-04-12 15:28] #60 closed, assigned to naturalbeau

[2016-04-12 18:02] margolisr opened #81 "Display issue: not obvious one should go "Home" to access the search engine"

[2016-04-12 18:51] saeid-p opened #82 "Unexpected results from LINCS data searches"
This issue has been reported by a Jeff Grethe.

Here seem to be some funky results searching for LINCS data:

Search for ‘Cell Proliferation’ and don’t get any results even though cell proliferation is in the record (from the main search).
http://datamed.biocaddie.org/search.php?query=cell+proliferation&searchtype=data

![pastedgraphic-3](https://cloud.githubusercontent.com/assets/6471104/14471759

[2016-04-14 15:14] naturalbeau commented on #69
The external repositories link icon is changed to be the repository icon. Also the title will be different color and underline when mouse hover over it. The BioProject external link bug has been fixed.
![6](https://cloud.githubusercontent.com/assets/6586013/14533029/f63174b0-0228-11e6-8a91-248f7a9e1d0c.png)

[2016-04-14 15:14] #69 closed, assigned to naturalbeau

[2016-04-14 18:16] RuilingLiu commented on #81
Hi,

We have a search panel on every page, so a user doesn't have to go "Home" to access the search engine.

![biocaddie data discovery index 2016-04-14 13-15-11](https://cloud.githubusercontent.com/assets/11318005/14538767/f4e29890-0242-11e6-8bff-98d12353b0ba.png)

[2016-04-14 19:05] RuilingLiu commented on #79
Thank you for your suggestions. The related searches panel has been removed.
Which elements of twinlist do you suggest?

[2016-04-14 19:53] RuilingLiu commented on #76
Thank you for your feedback!

The "drop down" icons that do not have any capacity to minimize/maximize have been removed.
Opening or closing the dropdowns treats this as a new page, so the small button on the page ("<") is a better option than the back button of the broswer.

[2016-04-14 19:56] #76 closed, assigned to RuilingLiu

[2016-04-15 16:20] margolisr commented on #81
I’m just wondering about how the ‘naïve’ user would fare? For some there may be a need to be almost force-fed navigation and if they must hunt around for a clear entry to the home page they may just give up.

From: RuilingLiu [mailto:notifications@github.com]
Sent: Thursday, April 14, 2016 11:17 AM
To: biocaddie/prototype_issues
Cc: Margolis, Ronald (NIH/NIDDK) [C]
Subject: Re: [biocaddie/prototyp

[2016-04-15 16:43] naturalbeau commented on #82
The problem has been fixed. It is because of the mapping of the fields in ES. The "biological process" field was indexed as "not_analyzed" due to we use it as a facet field. So the query "cell proliferation" does not match to this field but "Cell proliferation" does. Now this field has been changed to "multi field" type and can be searched as "analyzed" but facets as a whole phrase. It is also don

[2016-04-20 15:04] RuilingLiu commented on #41
There are two options to view all data sets from LINCS.

**Option 1:**
1. One the landing page, click on search button without entering any keywords.
2. On the search result page, click on checkbox next to "LINCS" label to view all data sets from LINCS

![biocaddie data discovery index 2016-04-20 09-58-56](https://cloud.githubusercontent.com/assets/11318005/14679213/87758646-06de-11e6-92ca-a7401f3

[2016-04-20 15:06] RuilingLiu commented on #74
"The repositories page made me think that when I clicked on it it would take me to all datasets from that repository, not directly to the repository webpage."

#41

[2016-04-20 19:45] ianfore opened #83 "Consider automatically creating GitHub entry for issues entered via the feedback form"
GitHub has an API that would allow an issue to be created in GitHub. How difficult would it be to call that API when a user submits the feedback form?
This would kick start the process of managing issues raised through the form.
Could this capture user contact information if the user chose to to add it?

[2016-04-20 20:49] RuilingLiu commented on #75
"10 Data Types" is a link to a list of data types now.

For each pilot project, "Read More" is a link to the bioCADDIE website, which will provide detailed information about this project.

[2016-04-22 17:04] RuilingLiu commented on #61
"Breadcrumb" feature has been implemented

<img width="692" alt="screen shot 2016-04-22 at 12 02 48 pm" src="https://cloud.githubusercontent.com/assets/11318005/14748941/334381cc-0882-11e6-9a1d-930a05e2e43f.png">

[2016-04-22 19:40] Project-Sugar opened #84 "A discrepancy between searching the GEO in DataMed v0.5 and the original NCBI GEO"
Using "HIV" as a search term with all default options,  I got 121 hits from the GEO in DataMed v0.5.  Same search got 7610 hits from the NCBI GEO site.  The reason of the difference has not been investigated.

[2016-04-25 16:16] naturalbeau commented on #51
Now the dataset which includes Pubmed ID  information are clickable to the Pubmed in display-item page.
![8](https://cloud.githubusercontent.com/assets/6586013/14790467/1140972a-0ad7-11e6-9c91-d9c7dc134404.png)

[2016-04-25 17:54] RuilingLiu commented on #83
Hi Ian,

I tested the [PHP GitHub API](https://github.com/KnpLabs/php-github-api). It is not hard to call the API and post an issue when a user submits the feedback form.

But a user may submit multiple issues in one feedback form. And this API cannot split the issues in the form automatically. How should we handle this condition?

[2016-04-25 21:07] RuilingLiu commented on #83
This feature has been implemented.

[2016-04-26 14:25] dianneusa opened #85 "Functions (like faceted filter capability) not working in internet explorer"
![snip ie v firefox faceted search](https://cloud.githubusercontent.com/assets/6653798/14821551/2819a906-0b99-11e6-9cba-045f30416047.jpg)

[2016-04-26 15:18] SciMeg opened #86 "Make list or grid view available when viewing results from more than one repository"
When I filter search results to a single repository, I have the option for summary view vs. detail view. If I check the box to add an additional repository in the search filter, this option disappears. I am _guessing_ that this is due to the fact that there are different fields displayed for each, but there may be a better way to display that. (Happy to think about this more and find an example fr

[2016-04-26 15:38] SciMeg opened #87 "Need transparency on synonyms to explain different query results"
When I search "Akt" and filter for the PDB repository, I get 145 results. In the PDB itself, there are 93 results for the query. I can see the synonyms list next to results in DataMed, but it isn't clear to me which of those synonyms are inclusive of what is coming back in the PDB.

[2016-04-26 16:37] SciMeg commented on #77
I second this! But question is, are you copying the citation to (1) the dataset, or (2) the data entity? e.g., PDB has distinct attribution guidelines dependent on citing the PDB itself, or the individual PDB entry.

[2016-04-26 17:47] RuilingLiu commented on #86
Hi,

Thank you for your feedback! Please let us know if you have any suggestions on how to improve the detail view and summary view.

@meghan81

[2016-04-27 20:43] RuilingLiu commented on #85
Hi,

Could you please send me the version number of this Internet Explorer? I cannot reproduce this bug using Internet Explorer 11.

[2016-04-27 20:47] dianneusa commented on #85
Sure, here is a snap:
[cid:image001.png@01D1A0A4.8ABBF6F0]

From: RuilingLiu [mailto:notifications@github.com]
Sent: Wednesday, April 27, 2016 4:43 PM
To: biocaddie/prototype_issues prototype_issues@noreply.github.com
Cc: Babski, Dianne (NIH/NLM) [E] babskid@mail.nlm.nih.gov; Author author@noreply.github.com
Subject: Re: [biocaddie/prototype_issues] Functions (like faceted filter capability) not w

[2016-04-27 20:56] dianneusa opened #88 "links from repository list lead to unable to connect error"
on the http://datamed.biocaddie.org/repository_list.php page, click on any link get "Unable to connect" msg--looks like a local host problem. see image snap
![repos list link error](https://cloud.githubusercontent.com/assets/6653798/14867911/ed1fd018-0c98-11e6-9eb8-4d4be46f5ceb.jpg)

[2016-04-27 20:57] RuilingLiu commented on #85
Hi,

It seems that the screenshot was not attached successfully.

[2016-04-27 20:59] dianneusa commented on #85
![ie version](https://cloud.githubusercontent.com/assets/6653798/14868017/670e6a42-0c99-11e6-98c5-60c3eed62d44.jpg)

[2016-04-27 21:06] RuilingLiu commented on #88
Thank you for your feedback! This bug has been fixed.

[2016-04-28 17:18] DataMedFeedback opened #89 "diet, epidgenetics, breast cancer"
The website was user friendly and organized well. The front page has good information, but it is a bit confusing; especially with datasets, repositories, data types; what is the distinction between these? This needs to be clarified. Perhaps there is a better way of organizing the different types of data/datasets? Overall, this is a great start!

[2016-04-28 17:18] DataMedFeedback opened #90 "diet, epidgenetics, breast cancer"
The website was user friendly and organized well. The front page has good information, but it is a bit confusing; especially with datasets, repositories, data types; what is the distinction between these? This needs to be clarified. Perhaps there is a better way of organizing the different types of data/datasets? Overall, this is a great start!

[2016-04-28 17:21] DataMedFeedback opened #91 "Accessing the data"
Hello, we would like to access some of the datasets. How do we go about this via the website?

Thank you.

[2016-04-29 14:49] naturalbeau commented on #87
The search strategy used in datamed is different from PDB website. That is the reason why we get different results. The "Akt" has five synonyms. In Datamed, we search the "Akt" as well as its synonyms. In the result, we have highlighted the matched term(the matched "Akt" and its synonyms have been highlighted).
![9](https://cloud.githubusercontent.com/assets/6586013/14919362/1414c09c-0dee-11e6-86d

[2016-04-29 16:02] SciMeg commented on #87
Thanks, I understand what is happening, but my comment is on the user experience - there should be something to make that clear to the user.
For example, instead of _Displaying 10 of 145 results for "Akt"_, you could add _and its synonyms_.
AND/OR
Have a "help" or "info" icon next to that or the Synonyms list on the right and provide a tooltip that explains that DataMed gives more than the PDB.

A

[2016-04-29 19:24] dianneusa opened #92 "What are the allowable fields?"
I see that title, author and description are allowable fields (only from looking at the advance search feature), but are there others? You should add allowable fields and how to search certain fields in the help documentation.

[2016-04-29 19:27] dianneusa opened #93 "datamed numbers differ from databases"
I'm confused about results...

CT.gov has 214,105 studies. Datamed: Displaying 192501 results for "ClinicalTrials".
Entrez Bioproject: all[sb]: Items: 1 to 20 of 174826. Datamed: Displaying 155851 results for "BioProject"

Is an API pulling the data from these databases?

[2016-05-03 00:01] aegururaj commented on #89
Duplicate of #90

[2016-05-03 00:01] #89 closed, assigned to nobody

[2016-05-03 14:41] saeid-p opened #94 "Issue with DataMed advanced search"
This issue was submitted by Lucila Machado.

The attached search generated an odd synonym and >38k hits, so there must be something wrong with the advanced search.

<img width="1022" alt="screen shot 2016-05-02 at 5 58 30 pm" src="https://cloud.githubusercontent.com/assets/6471104/14986810/fd16e244-1112-11e6-8696-833041f720a5.png">

[2016-05-03 15:45] naturalbeau commented on #94
The bug has been fixed. FYI, in advanced search, we do not use synonyms expansion to search.
![2](https://cloud.githubusercontent.com/assets/6586013/14989124/ee3530d8-111b-11e6-8393-c8d2f8d2a84b.png)

[2016-05-03 16:18] naturalbeau commented on #87
Thanks for the feedback. We have changed the "Search Details" on the right column. It shows how we construct the query. When a query has synonyms, the synonyms are connected using OR in our search.
![3](https://cloud.githubusercontent.com/assets/6586013/14990047/6a8cb5e4-1120-11e6-97ef-46b307495842.png)

[2016-05-03 21:26] #94 closed, assigned to nobody

[2016-05-04 17:12] saeid-p opened #95 "Invalid results for queries with special characters"
I tried to search the following term, but the results are invalid and if you select specific repository, it doesn't show any relevant result.

**_Bacterial 16S RRNA Genes Amplified From ND-Fed Mouse#2(TM003) Feces And Sequ_**

This is the link to reproduce the error:
http://datamed.biocaddie.org/search.php?query=Bacterial+16S+rRNA+genes+amplified+from+ND-fed+mouse%232%28TM003%29+feces+and+sequ&sea

[2016-05-05 14:45] nursatranscriptomine opened #96 "NURSA currently listed under "Unspecified", should be "Gene Expression""
NURSA is currently listed under "Unspecified" in search result suggestions, should be "Gene Expression"

[2016-05-05 14:50] DataMedFeedback opened #97 "How are repository categories defined?"
When testing the DataMed prototype, I noticed that the UI offers search suggestions under different categories. It's not clear where these are defined - is this done on the DataMed side?

It seems to me that these categories should be defined in metadata at the dataset level in repository, rather than at the repository level, since some some repositories contain datasets in more than one category

[2016-05-05 14:50] DataMedFeedback opened #98 "How are repository categories defined?"
When testing the DataMed prototype, I noticed that the UI offers search suggestions under different categories. It's not clear where these are defined - is this done on the DataMed side?

It seems to me that these categories should be defined in metadata at the dataset level in repository, rather than at the repository level, since some some repositories contain datasets in more than one category

[2016-05-05 16:30] dianneusa opened #99 "hyperlink in dataset results"
Dataset results lead to an info page. The title is a link (user experience says this should be displayed as an un underlined link). Also, Download URL:  not hyperlinked, my experience thinks this should be linked.

[2016-05-05 16:32] dianneusa opened #100 "why the numbers for data sets differ from actual sites"
For instance,

CT.gov has 214,105 studies. Datamed: Displaying 192501 results for "ClinicalTrials".
Entrez Bioproject: all[sb]: Items: 1 to 20 of 174826. Datamed: Displaying 155851 results for "BioProject"
I would expect the data to be pulled via an API and therefore in sync.

[2016-05-05 17:57] RuilingLiu opened #101 "Add accessibility information on the advanced search page"

[2016-05-05 18:01] RuilingLiu opened #102 "Exclude data sets from ClinicalTrials repository on the search result page"

[2016-05-05 20:36] RuilingLiu commented on #73
The function to build collections has been implemented

[2016-05-06 16:13] nursatranscriptomine opened #103 ""Download URL""
The dataset metadata page for NURSA and ArrayExpress contains a field named "Download URL" that does not point to a download of the data, rather they are landing pages that contain download files, per FAIR principles.

I hope the screenshots below are visible, please e-mail me if not and I can send as attachments.

![image](https://cloud.githubusercontent.com/assets/14809879/15078941/4e608b36-137b

[2016-05-09 15:05] #88 closed, assigned to RuilingLiu

[2016-05-09 15:07] RuilingLiu commented on #85
Bug cannot be reproduced using the same internet explorer version.

[2016-05-09 15:08] #83 closed, assigned to RuilingLiu

[2016-05-10 18:19] aegururaj commented on #98
Duplicate of #97

[2016-05-10 18:19] #98 closed, assigned to nobody

[2016-05-10 18:32] ianfore opened #104 "Make use of "with results" attribute to filter which clinical trials.gov entries are ingested to biocaddie"
In advanced search in clinicaltrials.gov you can search for trials that have data.
21,219 studies show as “with results”
193,670 studies show as having no results

Should datamed use this filter? Is it doing so already?
I find NCT00137800 in datamed – a study which ct.gov shows as having no results posted
So it seems we are not using this filter. It doesn’t even seem we are listing this piece of m

[2016-05-10 19:52] jgrethe commented on #93
Yes, we do pull the data from a repository's API or download.  However, for the prototype, we only crawl the repositories at certain times (e.g. around releases) - so the index can end-up having different total counts (e.g. ClinicalTrials.gov is now at 215,060 studies).

[2016-05-10 19:52] #93 closed, assigned to jgrethe

[2016-05-10 19:54] jgrethe commented on #78
We are testing this with Nature Scientific Data currently.  I am not sure about receiving data paper submissions from the DDI.  As we don't archive data sets (i.e. bioCADDIE is not a data repository) we wouldn't be submitting data papers.

[2016-05-10 19:57] jgrethe commented on #64
Am closing this as bioCADDIE is not a repository or data access infrastructure (like iRODS). One does not need to authenticate to PubMed or Google - however, once you are taken to the appropriate endpoint authentication maybe necessary. These access metadata have been developed by bioCADDIE Working Group 7: Accessibility Metadata for Datasets (https://biocaddie.org/group/working-group/working-grou

[2016-05-10 19:57] #64 closed, assigned to jgrethe

[2016-05-10 20:00] jgrethe commented on #100
This seems to be a duplicate of #93 - Adding response from that ticket here as well:

Yes, we do pull the data from a repository's API or download. However, for the prototype, we only crawl the repositories at certain times (e.g. around releases) - so the index can end-up having different total counts (e.g. ClinicalTrials.gov is now at 215,060 studies).

[2016-05-10 20:00] #100 closed, assigned to jgrethe

[2016-05-10 20:04] jgrethe commented on #104
So the main question is how this should be represented in the index.  We can exclude all the "no results" records or should we have a standard flag within the indexed data so that the UI can make that distinction (i.e. load all data however search defaults to include only records that have "results").  Will need to look into the data first to see how this is represented.

[2016-05-10 20:26] jgrethe commented on #104
One record with results is:

![cthasresults](https://cloud.githubusercontent.com/assets/1634917/15161198/14cd9faa-16b2-11e6-8980-1d99f4919c41.jpg)

However the XML (PDF attached) doesn't truly link to a dataset.  Rather it gives summary statistics for certain conditions and provides adverse event information. To find out if a record has results we can use these potential fields:
- firstreceived_re

[2016-05-10 20:45] jgrethe commented on #84
The initial review points to the location of that search term - in the primary metadata or related information (e.g. reference series).  As an example, one of the returned data sets:
     http://www.ncbi.nlm.nih.gov/sites/GDSbrowser?acc=GDS4226

Need to look at how the data is handled.

[2016-05-10 20:49] jgrethe commented on #56
This is part of the discussion the CDT is having with the LINCS group

[2016-05-10 20:49] #56 closed, assigned to jgrethe

[2016-05-10 20:52] jgrethe commented on #4
I think this was resolved with prior updates to the pipeline.  See result below:

![sf9](https://cloud.githubusercontent.com/assets/1634917/15162171/703bdb8c-16b6-11e6-84bd-ab0864cbb626.jpg)

[2016-05-10 20:52] #4 closed

[2016-05-10 20:53] jgrethe commented on #65
Assigning to Anu as we are currently collecting information about standards used, etc...

[2016-05-11 02:53] #41 closed, assigned to RuilingLiu

[2016-05-11 02:54] #61 closed, assigned to RuilingLiu

[2016-05-11 14:32] naturalbeau commented on #103
Hyperlink has been added to the download URL in arrayexpress. The Download URL is pointing to the dataset page in the original repository.
![1](https://cloud.githubusercontent.com/assets/6586013/15184531/2bca7472-175b-11e6-987a-5304179b6dd8.png)

[2016-05-11 14:32] #103 closed, assigned to naturalbeau

[2016-05-11 14:35] nursatranscriptomine commented on #103
The field name for NURSA Datasets (Download URL) is still incorrect - it points to the dataset landind page. The field name should be "Landing Page URL". Thx.

[2016-05-11 14:57] naturalbeau commented on #99
The hyperlink in Download URL has been checked and now "download URL" is hyperlinked in every repository.
For the hyperlink in the title, please refer to #69 .

[2016-05-11 14:57] #99 closed, assigned to naturalbeau

[2016-05-11 14:59] naturalbeau commented on #103
Now the "Download URL" in NURSA has been changed to "Landing Page URL".
![2](https://cloud.githubusercontent.com/assets/6586013/15185473/fb14349a-175e-11e6-9795-6135649004d7.png)

[2016-05-11 17:47] naturalbeau commented on #95
The bug has been fixed.  Search the "Bacterial 16S RRNA Genes Amplified From ND-Fed Mouse#2(TM003) Feces And Sequ" in datamed, there is no relevant result avaiable.

[2016-05-11 17:47] #95 closed, assigned to naturalbeau

[2016-05-11 17:55] naturalbeau commented on #96
NURSA has been changed to be under "Gene Expression".

[2016-05-11 17:55] #96 closed, assigned to naturalbeau

[2016-05-11 22:14] RuilingLiu commented on #101
The accessibility information of the repositories has been added on the advanced search page. It can be used as one of the search criteria.

On the search result page (Summary view), search results can be filtered by accessibility.

<img width="908" alt="screen shot 2016-05-17 at 3 39 10 pm" src="https://cloud.githubusercontent.com/assets/11318005/15338466/992fa5a2-1c45-11e6-9013-ab0859398232.png"

[2016-05-16 19:36] #87 closed, assigned to naturalbeau

[2016-05-17 15:41] naturalbeau commented on #102
The search result from ClinicalTrials are excluded on the result list of the search page . But user can still select the repository or the datatype to retrieve the result.

[2016-05-17 15:41] #102 closed, assigned to naturalbeau

[2016-05-20 14:14] saeid-p commented on #13
Hi @RuilingLiu.

Thanks for the comment. Can you provide me a sample link and exact location of the description that needs attention?

Thanks

[2016-05-20 15:18] saeid-p commented on #72
In order to expand sorting to **Author**, **Date Published**, **Repository**, and **Title**, we need to have these fields in the mapping of all repositories in ElasticSearch.
Currently, some of these fields are missing in some repositories and in some cases (Date Published), there is no consistency in the naming of the field. For instance, the publication date has been stored with different names

[2016-05-23 13:18] agbeltran opened #105 "Add more info about the data repositories?"
In the page listing the data repositories:
http://datamed.biocaddie.org/repository_list.php
the links take the user to the search page for the data of that repository (correct?).

I think it would be useful to add as well more information about the repository itself (e.g. those we consider in the DataRepository type of the DATS model).

[2016-05-23 20:04] nursatranscriptomine commented on #96
NURSA is still appearing in the "Unspecified" Category on the "DATA TYPES" page

http://datamed.biocaddie.org/datatypes.php

![biocaddie](https://cloud.githubusercontent.com/assets/14809879/15482884/a70907fc-20f7-11e6-96d0-52bcc68c9c86.png)

[2016-05-23 20:56] naturalbeau commented on #96
Now it is been fixed.
![1](https://cloud.githubusercontent.com/assets/6586013/15484285/ec0661c2-20fe-11e6-8640-7306951f3a6f.png)

[2016-05-24 16:09] agbeltran opened #106 "Browse all the data for a particular repository"
I was assuming this link:

http://datamed.biocaddie.org/search-repository.php?query=%20&searchtype=data&repository=0003

was going to take me to the list of data from GEO, but there is nothing.
(I got to that link through the data repositories link: http://datamed.biocaddie.org/repository_list.php).
How can I see all the GEO data?
Thanks.

[2016-05-25 19:58] naturalbeau commented on #106
Now the bug has been fixed. Please try it again.

[2016-05-25 19:58] #106 closed, assigned to naturalbeau

[2016-05-26 13:33] agbeltran commented on #106
Thank you.

[2016-05-31 19:40] jgrethe commented on #72
Need to make sure that all of these are actually in the mapping.

[2016-06-02 15:02] dianneusa opened #107 "Add what the fields are in Help"
Not sure what fields are being searched, can you list these in help with the allowed qualifier?

From help:
Search by Field

Terms may be qualified using bioCADDIE's search field tags.

The search field tag must follow the term -- you cannot prequalify.

Tags are enclosed in square brackets.

Example: Lung[title] AND Cancer

Reminders:

[code]

[2016-06-02 20:42] readkev opened #108 "How is the metadata being indexed?"
I'm hoping for some clarification of how metadata is being indexed. For example, when I search for "mouse", I receive over 800 results from ClinicalTrials.gov. However, several of the results are actually acronyms that have nothing to do with a mouse whatsoever. One result I received was "Minimally Invasive Control of Epistaxis (MICE)". This result has nothing to do with mouse species, so how are

[2016-06-06 23:23] chung88 opened #109 "LINCS: datasets"
Can you send us a list of the LINCS dataset IDs?
http://datamed.biocaddie.org/search-repository.php?query=%20&searchtype=data&repository=0004

http://datamed.biocaddie.org/ shows 265 results and lincsportal has 264.

http://lincsportal.ccs.miami.edu/datasets/
{"results":{ "totalDocuments":264,

[2016-06-07 14:25] naturalbeau commented on #109
After I looked into the lincs data in Datamed, I found there is an empty record in the Elasticsearch endpoint. I just deleted the empty item and now the LINCS has 264 results.

[2016-06-07 14:25] #109 closed, assigned to nobody

[2016-06-08 14:43] RuilingLiu commented on #85
Hi @dianneusa ,

Do you still have the same issue?

[2016-06-08 17:45] dianneusa commented on #85
Still not seeing check boxes in IE…here’s a snap:
[cid:image001.jpg@01D1C18C.026216A0]

From: RuilingLiu [mailto:notifications@github.com]
Sent: Wednesday, June 08, 2016 10:44 AM
To: biocaddie/prototype_issues prototype_issues@noreply.github.com
Cc: Babski, Dianne (NIH/NLM) [E] babskid@mail.nlm.nih.gov; Mention mention@noreply.github.com
Subject: Re: [biocaddie/prototype_issues] Functions (like fa

[2016-06-08 17:48] RuilingLiu commented on #85
Which operating system are you using?

[2016-06-10 03:16] dianneusa commented on #85
The latest Windows version; I'm an HHS employee so whatever is approved for all staff is what I use.

Sent from my iPhone

On Jun 8, 2016, at 1:48 PM, RuilingLiu <notifications@github.com<mailto:notifications@github.com>> wrote:

Which operating system are you using?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/biocaddie/pr

[2016-06-13 15:34] RuilingLiu opened #110 "Broken link on landing page"
1. Enter "Heart Failure" in the search box on the landing page
2. Click on "dbGaP (13)" from the drop-down list
3. Error message: "datamed.biocaddie.org is currently unable to handle this request."

![screen shot 2016-06-13 at 10 20 44 am](https://cloud.githubusercontent.com/assets/11318005/16012770/8254d350-3150-11e6-87ad-0ed57653c668.png)

[2016-06-13 19:50] naturalbeau commented on #110
The bug has been fixed.

[2016-06-13 19:50] #110 closed, assigned to nobody

[2016-06-14 18:52] naturalbeau commented on #108
When you search "mouse", we have the terminology server to generate the synonyms of the search query. In this case, we have 26 synonyms of "mouse". "MICE" is one of them.
![screencapture-datamed-biocaddie-org-expanded-query-php-1465929917749](https://cloud.githubusercontent.com/assets/6586013/16055455/fae37402-3236-11e6-8875-ac51cae404e6.png)

 In our search process, we search the original query O

[2016-06-15 15:43] naturalbeau opened #111 "Search by organism is currently not possible."
Search by organism is currently not possible. E.g., “mouse anatomical images” results in datasets on humans/human cells

[2016-06-15 15:49] naturalbeau commented on #111
Can we check whether we could have a box like we have for “data types” that lists the most common organisms? I noted that some data sets are not annotated for that, and they seem to have been retrieved because the abstract mentions mice/murine.

[2016-06-15 15:58] naturalbeau opened #112 "Cutting and pasting the title of a clinical trial does not retrieve the clinical trial."
Cutting and pasting the title of a clinical trial does not retrieve the clinical trial.

[2016-06-15 15:59] naturalbeau commented on #112
We removed the search results from the clinical trial in the result page because it does not contain datasets. (See issue #102)

[2016-06-15 16:11] naturalbeau commented on #108
@jgrethe Can you answer the second part of the question?

[2016-06-15 17:23] readkev commented on #108
@naturalbeau thanks for the first part of the answer. The problem with that strategy is that if I'm searching for datasets about "mice", I shouldn't be retrieving articles about the cauterization of nosebleeds -- this potentially leaves an opening for a large number of false positives i.e. any acronym for MICE that does not pertain to "mouse" the animal. I'm also assuming this would be the case fo

[2016-06-15 17:31] jgrethe commented on #111
Not all sources have an organism identified.  However, many do - either within each dataset (e.g. PDB) or set globally for the resource (e.g. ClinicTrials.gov).  So search by organism should be possible - but would have smaller coverage as some sources may not have a defined organism.

---

Jeffrey S. Grethe, Ph.D.                                              email: jgrethe@ncmir.ucsd.edu mailto:j

[2016-06-15 17:32] jgrethe commented on #112
ClinicalTrials.gov will have a flag to denote if a dataset if available (with the update of the metadata to the new metadata standard).  So we should be able to test that when the new data is available.

[2016-06-15 17:37] jgrethe commented on #108
The organism information is captured as part of the metadata if it is available (e.g. PDB) or is set if it is constant across a source (e.g. ClinicalTrials.gov).  In addition - if a taxonomy ID is included it should also be pulled into the metadata record.  Will have the curators double check bioproject in this case.

[2016-06-15 17:52] RuilingLiu commented on #92
The current allowable fields are title, author and description. We will add more allowable fields.
The help document has been updated. Thank you for your feedback!

[2016-06-15 17:57] RuilingLiu commented on #107
The help document has been updated.

[2016-06-15 17:58] #73 closed, assigned to RuilingLiu

[2016-06-15 18:40] naturalbeau commented on #108
We have used UMLS in the terminology server to do the query expansion, which is to get the synonyms of the search query. We are planning to integrate the terminology server to the metadata ingestion pipeline.

[2016-06-23 16:14] mfenner opened #113 "display persistent identifier for dataset in detail view"
I don't see this information for datasets from Dryad.

[2016-06-23 16:57] DataMedFeedback opened #114 ""Send To" Feature Is Not Available On Safari"
The "Send To" button does not display using Safari browser

[2016-06-23 16:58] raprasad opened #115 "prototype: error when trying to add a dataset to a new collection"
(during biocaddie workshop)
url: http://datamed.biocaddie.org/manage_collections.php?name=Poison%20Ivy

---

<img width="1049" alt="banners_and_alerts_and_datamed___biocaddie_ddi" src="https://cloud.githubusercontent.com/assets/1036060/16312321/fe9b3ea6-3928-11e6-8328-084f05ca72c0.png">

[2016-06-23 17:05] raprasad opened #116 "Search result counts: Add "thousandths" place commas"
Minor formatting: e.g. "155,851" instead of "155851"

<img width="333" alt="datamed___biocaddie_ddi" src="https://cloud.githubusercontent.com/assets/1036060/16312508/ebb044ca-3929-11e6-8948-048e6bfb46a4.png">

[2016-06-23 17:08] jgrethe commented on #114
I just demonstrated using Safari and I had the Send To button on the search results page...

[2016-06-23 17:11] ryscher opened #117 "Harvesting of harvested content"
Some of the content in Datamed that is labeled as coming from Dryad is actually content that Dryad has harvested from other locations.

For example: http://datamed.org/display-item.php?repository=0010&idName=dataset.title&id=56cf958de4b0cbfcaa680d55&query=dirt
This item is an item that Dryad harvested from the Knowledge Network for Biocomplexity (KNB). The metadata would be much more rich if the i

[2016-06-23 17:11] aegururaj commented on #114
The button pops-up as soon as at least one dataset is selected.

[2016-06-23 17:13] ryscher commented on #113
The persistent identifiers appear as the "Download URL" for core Dryad content... This label is a bit confusing, since the identifier points to a landing page instead of a direct download.

This issue is compounded by items that are harvests of harvests. These items do not display identifiers. (Filed separately as https://github.com/biocaddie/prototype_issues/issues/117)

[2016-06-24 15:05] saeid-p commented on #114
I will double check it with legacy versions of the Safari as well.

[2016-06-27 18:30] saeid-p commented on #78
@aegururaj Do you want to keep this issue open for future release? And do you want Nina to contact the participant about Jeff's response?

[2016-06-27 18:34] saeid-p commented on #13
I checked all repositories description fields and fixed some with lengthy description.
I close this issue at this moment. If we any other repositories needed more attention for the description field length, we can reopen it.

[2016-06-27 18:34] #13 closed, assigned to saeid-p

[2016-06-27 18:45] RuilingLiu opened #118 "Indexing errors when exporting data to a file"
This issue is reported by Jason Smith from NIH.

He searched "Autism", selected three search results and exported the selected items to a file.
The errors are in the attached text file.

[biocaddie-share (1).txt](https://github.com/biocaddie/prototype_issues/files/335597/biocaddie-share.1.txt)

[2016-06-27 19:33] RuilingLiu opened #119 "Search for datasets with ID"
This issue is reported by Sanchita Bhattacharya from UCSF.

I was trying to search for one of the datasets in ImmPort registered on Bioproject with an BioProject ID PRJNA300878. Unfortunately, this dataset was not located.

Just wondering what could be the possible reason. May be I am missing something here.

[2016-06-27 21:24] saeid-p commented on #118
I couldn't reproduce the error. However, there were some issues that I fixed and I think it may resolve this issue. @RuilingLiu can you provide me a link that can reproduce this error?

[2016-06-27 21:25] saeid-p commented on #77
This feature has been implemented and will be available with the version 1 release.
I will close this enhancement ticket. If further suggestion was needed, we can create a new issue in that regard.

[2016-06-27 21:25] #77 closed, assigned to saeid-p

[2016-06-27 21:27] saeid-p commented on #114
I checked with different versions of Safari. If user could provide me the version of Safari he/she is using, I can test it on that specific version. In general, it is suggested to use the latest version of the browser.

[2016-06-27 21:29] pournejati commented on #62
@aegururaj Is it required to contact the participant to deliver Jeff's answer? If yes, I think Nina may contact him/her to provide the response.

[2016-06-27 21:34] RuilingLiu commented on #118
I just reproduced this bug.
1. Select these three search results below:
   [result 1](http://datamed.biocaddie.org/dev/biocaddie-ui/search-repository.php?query=Effectiveness+of+Atomoxetine+in+Treating+ADHD+Symptoms+in+Children+and+Adolescents+With+Autism&repository=0009&searchtype=data)
   [result 2](http://datamed.biocaddie.org/dev/biocaddie-ui/search-repository.php?query=Buspirone+in+the+Treatme

[2016-06-28 17:59] saeid-p commented on #72
@aegururaj I attached a list of missing or invalid fields in the current release.

[bioCaddie Missing Fields.docx](https://github.com/biocaddie/prototype_issues/files/337729/bioCaddie.Missing.Fields.docx)

[2016-06-28 20:47] saeid-p commented on #118
I found the bug caused this error. The problem has been resolved.

[2016-06-28 20:47] #118 closed, assigned to saeid-p

[2016-06-28 21:02] saeid-p commented on #114
Currently, we decided to show "Send To" button by default. So it doesn't need to select a row to see this button. I close this issue for now as the problem can't be reproduced and the functionality will be changed soon.

[2016-06-28 21:02] #114 closed, assigned to saeid-p

[2016-06-28 21:03] DataMedFeedback opened #120 "dfd"
dfd

[2016-06-28 21:51] RuilingLiu commented on #119
It seems that the dataset with BioProject ID PRJNA300878 has not been ingested.

Our search engine does support search dataset with ID if a dataset has a ID. For example,
[BioProject dataset](https://datamed.org/search.php?query=+PRJNA84501&searchtype=data)
[PDB dataset](https://datamed.org/search.php?query=1IND&searchtype=data)

[2016-06-28 21:51] #120 closed, assigned to nobody

[2016-06-28 22:03] RuilingLiu commented on #116
"Thousandths" place commas have been added in version 1.0.

![datamed biocaddie ddi 2016-06-28 17-01-25](https://cloud.githubusercontent.com/assets/11318005/16433859/fc268b9e-3d51-11e6-950c-90412851c5b4.png)

[2016-06-28 22:04] #116 closed, assigned to RuilingLiu

[2016-06-28 22:05] #107 closed, assigned to RuilingLiu

[2016-06-29 14:08] soysal opened #121 "registration: field values lost upon return because of invalid values."
On registration form, if you submit a form with missing/invalid values, form values are missed on message screen.

%usability

[2016-06-29 14:12] soysal opened #122 "logout redirects user to datamed.biocaddie.org"
Upon logging out, user will be redirected to http://datamed.biocaddie.org/login.php instead of https://datamed.org/login.php

[2016-06-29 15:08] raprasad commented on #116
thanks @RuilingLiu

[2016-06-29 15:38] RuilingLiu commented on #115
This bug has been fixed in version 1.0.

![screen shot 2016-06-29 at 10 37 08 am](https://cloud.githubusercontent.com/assets/11318005/16458663/7dcb0e2a-3de5-11e6-8947-da9304c2243a.png)

[2016-06-29 19:10] RuilingLiu commented on #122
The bug has been fixed on the development branch.
https://datamed.org/dev/biocaddie-ui/login.php

[2016-06-29 19:14] RuilingLiu commented on #121
Could you please give me an example? I used "%usability" as screen name. It worked fine. @soysal

[2016-06-29 20:54] soysal commented on #121
This is a usability issue. Not a bug. That's why I put %usability as reminder.
- goto login page,
- click on sign in
- complete the registration form, except, leave screenname blank or enter email as e@e.
- click ok.
- application will give user a proper error. But all the form content has lost.

[2016-06-29 21:03] proccaserra commented on #12
@jgrethe @RuilingLiu @aegururaj  before opening a new ticket, I presume the values for 'release date' fall into this category of UI enhancement.
for instance
Whole-genome sequencing in multiplex epilepsy families BioProject
ID: PRJNA231702
Release Date: P,,E,W

and when hitting the link for that record to obtain more information, the release date field in empty.
dates should be ISO8601 formatted.

[2016-06-29 21:12] proccaserra opened #123 "absence of datatype annotation in some cases"
e.g none of the Bioprojects are annotated with a DataType (mandatory as per DATS 2.0).
yet Bioproject has a tag 'Data Type'
http://www.ncbi.nlm.nih.gov/bioproject/?term=PRJNA142077

[2016-06-29 21:14] proccaserra opened #124 "absence of linking between related datasets"
e.g between Bioproject and GEO datasets.

http://www.ncbi.nlm.nih.gov/bioproject/?term=PRJNA142077  shows xref to GEO datasets , which are omitted in the datamed feed.

[2016-06-29 21:16] proccaserra opened #125 "NCBI ID is empty even for NCBI records"
all Bioproject records are affected.    PRJNA208438 is an NCBI id but only shows under ID

[2016-06-30 07:22] proccaserra commented on #114
Suggestion for adding a provisional category to 'Send to' function:

-send to 'analysis engine' (e.g. Galaxy or Knime) -> this would highlight a focus on reusability

[2016-06-30 17:20] yul129 commented on #123
I have re-mapped the datatype field in the transformation file, can anybody re-index the source?

---

From: Philippe Rocca-Serra [notifications@github.com]
Sent: Wednesday, June 29, 2016 2:12 PM
To: biocaddie/prototype_issues
Subject: [biocaddie/prototype_issues] absence of datatype annotation in some cases (#123)

e.g none of the Bioprojects are annotated with a DataType (mandatory as per DATS 2

[2016-06-30 17:56] jgrethe commented on #123
Will queue it up to re-index...

[2016-06-30 18:44] DataMedFeedback opened #126 "vvvxcv"
vxcvxv

[2016-06-30 18:44] jgrethe commented on #12
The date format in the index is specific to ES as this is a built-in type.

---

Jeffrey S. Grethe, Ph.D.                                              email: jgrethe@ncmir.ucsd.edu mailto:jgrethe@ncmir.ucsd.edu
University of California, San Diego
9500 Gilman Drive, M/C 0608
La Jolla, CA 92093-0608

work: (858) 822-0703 (
fax: (858) 246-0644

UCSD Profile: http://profiles.ucsd.edu/jeffrey.grethe ht

[2016-06-30 20:44] #126 closed, assigned to nobody

[2016-06-30 20:46] #122 closed, assigned to RuilingLiu

[2016-06-30 21:01] naturalbeau commented on #97
In DataMed v1.0, these categories are defined at the DataMed side on repository level.  In DATS2.0, I believe there will be a datatype field for each dataset, then we can provide facets based on the datatype on dataset level.
#123

[2016-06-30 21:03] #97 closed, assigned to naturalbeau

[2016-06-30 21:09] #92 closed, assigned to RuilingLiu

[2016-07-01 15:37] NinaSalimi opened #127 "Saved Search Query button"
The "Saved Search Query" button on the recent activities page does not work. (Browser:IE)

[2016-07-01 16:00] NinaSalimi opened #128 "Delete Saved Search"
Delete Saved Search button does not work. When the user clicks the button an  alert window pops up saying okokok.

[2016-07-01 16:08] RuilingLiu commented on #128
The bug has been fixed. Please check again. Thanks!

[2016-07-01 16:08] RuilingLiu commented on #127
The bug has been fixed. Please check again. Thanks!

[2016-07-01 16:16] NinaSalimi commented on #127
Thanks, but it does not show any message to the user that their selected activities have been saved.

[2016-07-01 16:21] NinaSalimi commented on #128
Thanks!

[2016-07-01 16:21] #128 closed, assigned to RuilingLiu

[2016-07-01 16:28] DataMedFeedback opened #129 "hgjh"
hgj

[2016-07-01 16:39] #129 closed, assigned to nobody

[2016-07-01 16:42] RuilingLiu commented on #127
I tested this feature using IE 11 for Windows 10. It works fine. It could be the problem with IE 11 for Windows 7

![capture](https://cloud.githubusercontent.com/assets/11318005/16528159/a278b550-3f80-11e6-9a02-743900bd0a99.PNG)

[2016-07-01 19:39] NinaSalimi opened #130 "Log out function"
User needs to push logout twice to call the function.

[2016-07-01 19:45] DataMedFeedback opened #131 "DataMed feedback"
1. awesome!
2. How did I never know about BioProject?
3. on main page, not clear what X-axis is for the top 8 repositories- datapoints? datasets? other?

[2016-07-01 21:35] RuilingLiu commented on #131
The value of x-axis is the number of datasets in each repositories

[2016-07-05 14:22] ianfore commented on #131
Can we label the axis?

[2016-07-05 17:45] NinaSalimi opened #132 "Synonym function"
The synonym function does not work if you use the advanced search.

[2016-07-05 22:22] NinaSalimi opened #133 "Synonym Function/Advanced Search"
The synonym function does not work if you use the advanced search function.

[2016-07-07 17:01] dianneusa opened #134 "Confusion using advance search"
I have various concerns with the advance search feature. Let's start with the All Search Fields part. My expectation is if I select an author, the autocomplete would limit to only an author field index. Each option (au, ti, descrp) yields the same autocomplete. I tried using several browsers thinking that maybe it was not working in maybe IE, but no, it's the functionality.

[2016-07-08 19:39] DataMedFeedback opened #135 "DataMed Filters"
Hi DataMed Team,

It would be great to be able to filter search results with more dynamic filters. In particular I would like to be able to filter by:
- Filetype
- Data Restrictions (data use agreement, restricted, unrestricted)
- Data Level (participant/aggregate)
- Population (mouse, human, etc)

Also it would be nice to know if there is a controlled vocabulary underlying the search feature (MeS

[2016-07-08 19:40] DataMedFeedback opened #136 "DataMed Filters"
Hi DataMed Team,

It would be great to be able to filter search results with more dynamic filters. In particular I would like to be able to filter by:
- Filetype
- Data Restrictions (data use agreement, restricted, unrestricted)
- Data Level (participant/aggregate)
- Population (mouse, human, etc)

Also it would be nice to know if there is a controlled vocabulary underlying the search feature (MeS

[2016-07-08 19:48] naturalbeau commented on #136
This is a duplicate of #135. We will fix the duplicate problem.

[2016-07-08 19:48] #136 closed, assigned to nobody

[2016-07-08 21:43] RuilingLiu commented on #115
Hi @raprasad
Could you please test this function again to see if this issue has been resolved?
Thanks!

[2016-07-16 17:19] chung88 opened #137 "[LINCS]: data"
Summary:
-  datamed is showing 530 LINCS datasets, are twice the amount.

---

Note:  in the navigation LINCS (264)

---
1.  Go to http://datamed.biocaddie.org/repository_list.php, click on LINCS
2.  Displaying 20 of 530 results for " " in "LINCS" 20 Per Page
3.  Switch view
   Displaying 20 of 530 results for " " 20 Per Page
   a)  (On item QA.3)  the search term is lost " "
   b)  The count 530

[2016-07-16 17:42] chung88 opened #138 "[LINCS}: advanced search"
The following query is from the advance search:
 "Kinase"[All Search Fields] AND  "Proteomics"[All Search Fields]
[biocaddie-share.txt](https://github.com/biocaddie/prototype_issues/files/367406/biocaddie-share.txt)
Navigation count:
PDB (4);  Proteomexchange (3);  LINCS (2)
Displaying 11 of 11 results for ""kinase"[All Search Fields] AND "proteomics"[All Search Fields]"

a)  4+3+2 = 9;  Search sh

[2016-07-19 18:20] jgrethe commented on #137
We checked the index on our side and it is half the size of what is returned by the UI.  Is the indexed doubled on production? Assigning to Ruiling to check on the datamed site.

[2016-07-19 18:32] RuilingLiu commented on #137
**Question: datamed is showing 530 LINCS datasets, are twice the amount.**

Hi @chung88 , the DataMed website has been migrated to UCSD server. Please use https://datamed.org/index.php to explore the website.

On the datamed.biocaddie.org website, we have two LINCS indexes, one is an old index, the other is an updated version from Jeff's team, we are trying to replace the old one with the updated

[2016-07-19 18:40] RuilingLiu commented on #137
**Question:
1. Search MCF7
2. Select LINCS (32)
3. Displaying 20 of 32 results for " MCF7" a) In http://lincsportal.ccs.miami.edu/datasets/ Search "MCF7" Total Datasets: 31**

The DataMed website uses terminology server to find synonyms of the query term. "MCF7" has the synonyms below:
1. MCF-7 Cell
2. Cells, MCF-7
3. Cells, MCF7
4. MCF 7 Cells
5. Michigan Cancer Foundation 7 Cells
6. Cell, MCF-7

[2016-07-19 18:45] RuilingLiu commented on #137
**Question:
1. Search GCP
2. Select LINCS (3)
3. Displaying 6 of 6 results for "GCP"
4. Select all 6 items
5. Click Send to: File: Submit See attachment: .../367393/biocaddie-share.txt biocaddie-share.txt a) LDP "GCP" Total Datasets: 3, not 6 b) The items in the UI and the items in the download file do not match. Row 1 is "title": "BGJ398 KINOMEscan". I do not believe it. I re-start from scratch,

[2016-07-19 18:51] chung88 commented on #137
Yes, the search GCP returns only 3 records.

[2016-07-19 20:14] RuilingLiu commented on #137
**Question:
The download URL between the UI and the download file does not match.
datamed UI download URL: http://lincsportal.ccs.miami.edu/datasets/#/view/LDS-1265
biocaddie-share.txt "downloadURL": "https://panoramaweb.org/labkey/project/LINCS/GCP/begin.view?"**

This is a bug. @pournejati will take care of it. @chung88 Thank you for your feedback!

[2016-07-19 20:16] RuilingLiu commented on #137
**Question:
Looking at the dataset blocks, in some I see cells names, proteins names under "name": , but the metadata across the same type of assays is not consistent.**

@chung88 Could you please send us some examples?

[2016-07-21 17:45] saeid-p commented on #137
@RuilingLiu As we discussed, this should be fixed in the ElasticSearch side.
The value in the metadata is not valid. We manually generate it on the interface side.

[2016-07-25 18:46] tjohnson250 commented on #135
Usability severity rating: 3 (Major)

Expanded facets would be helpful. I agree with expanding data restriction facets. When I search for data for class I want data that is publicly available and immediately downloadable.

Note that data accessibilty is an option in advanced search, but does not appear in the facets. Also, accessibility and authorization are to the right of Sorted by on the search

[2016-07-25 18:52] tjohnson250 commented on #134
Usability Severity Rating: 3 (Major)
Restricting to items from the selected field provides the user with important immediate feedback on whether their search term is in the index.

[2016-07-25 19:37] tjohnson250 commented on #133
Usability severity rating: 3 ( Major)

This is very inconsistent and confusing behavior.

[2016-07-25 19:39] tjohnson250 commented on #131
Usability Severity Rating: 2 (Minor)
The x axis just needs to be labeled to resolve this issue.

[2016-07-25 19:41] tjohnson250 commented on #130
I was able to log out by pressing Logout once on Chrome. Has this been fixed? Or is it browser specific?

[2016-07-25 19:51] RuilingLiu commented on #130
It only happens when using Internet Explorer.

[2016-07-25 19:51] tjohnson250 commented on #127
I also got the feedback on Chrome. What version of IE produces the bug?

[2016-07-25 19:55] tjohnson250 commented on #121
Usability severity rating: 3 (Major)

Losing data at registration is a big issue. It tells the user that we may not be professional and can also discourage them from registering.

[2016-07-25 20:06] tjohnson250 commented on #117
Usability severity rating: 3 Major

This is a major issue because if we do not find a consistent way to address it now, the problem will mount as we add more data repositories that may be cross-harvesting. My suggestion, to be consistent and avoid confusion, is to track the harvesting and when both the harvested and original datasets are in the search results display both listed together with an o

[2016-07-25 20:11] tjohnson250 commented on #113
Has this been corrected? When we first launched the links to Dryad went to the Dryad home page, but since around 2 days after launch, they started going directly to the download page for the dataset.

[2016-07-25 20:23] tjohnson250 commented on #108
Without much richer and more unified metadata (or considerable NLP efforts), it may only be possible to solve this by using advanced search to search on specific fields. I did the same search for "mouse" at ClinicalTrials.gov and got the same Minimally Invasive Control of Epistaxis (MICE) as the 7th search result.

[2016-07-25 20:26] tjohnson250 commented on #105
Usability severity rating: 2 (Minor)

Although this issue does not really affect the main functionality of the site, this page does not really provide that much useful information. The question is what other information to add here and how to format it in a way that is easy to scan.

[2016-07-25 20:31] tjohnson250 commented on #90
Usability Severity Rating: 3 (Major)

While this is a usability issue, it is very important to new users. I suggest that we redesign the main page by replacing the big stats and new features blocks with ones for Datatypes and Datasets, sorted based either on some measure of size (repositories and data types) or popularity (datasets). Arrange the boxes starting with Repository, then Data Types, the

[2016-07-25 20:34] tjohnson250 commented on #86
Usability severity rating: 3 (Major)

This is actually a usability issue. It is very odd to see the inconsistent displays based on one or more repositories. We need to discuss how to remove this restriction.

[2016-07-25 20:37] tjohnson250 commented on #84
We need to know more about result accuracy between the two before we can rate the usability severity. In some of the work that we've done on building alternative interfaces to PubMed, we ship the query to PubMed, retrieve the ids, then pull the details from our local version of PubMed. This ensures the same set of search results for both interfaces. I doubt we can do that here.

[2016-07-25 20:40] tjohnson250 commented on #79
I don't really understand what the issue is here nor how we could adopt parts of twinist. Twinlist is for reconciling two (or three) lists of items when those lists are relatively short.

[2016-07-25 20:43] tjohnson250 commented on #75
Usability severity rating: 2 (Minor)

Minor but annoying. On a large screen, clicking on 4 Pilot Projects does nothing, because the bottom of the page is already on screen. In another related issue, I suggested redesigning the home page.

[2016-07-25 20:44] tjohnson250 commented on #74
Seems like three issues, lets separate them and discuss.

[2016-07-25 20:45] tjohnson250 commented on #70
The first issue is a bug.
The second issue is redundant with the cross-harvesting issue.

[2016-07-25 20:47] tjohnson250 commented on #65
We need to put "Expanded Metadata" into a single issue. Yes, it is a usability issue, but given the lack of metadata in some of our data sources, I'm not sure what we can do at this point to address it.

[2016-07-25 20:48] tjohnson250 commented on #58
This is a learnability issue. Usability severity is probably 1-2 (cosmetic to minor), however, see other issues where I suggest redesigning the home page. Part of that may be to make the search box more visually salient.

[2016-07-25 20:50] tjohnson250 commented on #51
Usability severity rating: 3 (Major)

I don't think we have addressed all of the issues here. We need to clearly distinguish the original paper from papers citing the dataset (assuming we have the datarank data in some of the datasets).

[2016-07-25 20:53] tjohnson250 commented on #48
This is related to the harvested dataset issue. Can we merge these and come up with a general solution?

[2016-07-25 20:55] tjohnson250 commented on #46
Unclear if this a usability problem or just a "fact of life" problem. The answer above assumes the OP is troubled by the different number of datasets, but it could also be about the different amounts of metadata across repositories.

[2016-07-25 21:04] tjohnson250 commented on #45
The normal expectation, in my experience, is that anything in quotes must match exactly to trigger a hit, so "serotonin gpcr" AND Cancer would look for datasets containing the exact string plus any term from the query expansion of Cancer. This is how Google works. PubMed, however, seems to ignore the quotes. It expands the above query with (or without) quotes into:

("serotonin"[MeSH Terms] OR "se

[2016-07-25 21:06] tjohnson250 commented on #29
This is true, but I never noticed it until now. I would rate this at 1: Cosmetic

[2016-07-25 21:08] tjohnson250 commented on #27
I suspect we need more feedback on this. Facets are almost always on the left, so I would not move them to the right. If you look at PubMed's results page they use more space for the results and have better page controls plus alignment of the results.

[2016-07-25 21:09] tjohnson250 commented on #18
I agree this and proposed a change elsewhere.

[2016-07-25 21:11] tjohnson250 commented on #14
I'm not sure of what this means. I thought the idea was to have two kinds of journal information: the journal article that one should cite for the data set, and the number of journals citing the dataset (or article).

[2016-07-25 21:12] tjohnson250 commented on #12
Perhaps this is the main metadata issue in which we can collect all of the other metadata issues?

[2016-07-25 21:15] tjohnson250 commented on #2
This is tricky, because if we do partial matching we'll possibly get many false positives. More intelligent query expansion and the advanced search may be better solutions.

[2016-07-25 22:40] altergc commented on #48
The two issues are very similar.  The difference is between harvesting of data and harvesting of metadata.   However, I don't agree with your (Todd's) suggestion about handling the situation.  You seem to suggest giving equal status to both the original and the harvested version.  I recommend that harvested versions should always point to the original.   This is actually the recommendation in the

[2016-08-04 18:12] DataMedFeedback opened #139 "Test"
This is a test only

[2016-08-09 17:50] #139 closed, assigned to nobody

[2016-08-09 17:50] aegururaj commented on #139
This was created during the monthly testing of the prototype.

[2016-08-09 17:58] RuilingLiu commented on #138
The query
"Kinase"[All Search Fields] AND  "Proteomics"[All Search Fields]
returns 29 results from the current [DataMed website](https://datamed.org/search.php?query=%22Kinase%22[All%20Search%20Fields]%20AND%20%20%22Proteomics%22[All%20Search%20Fields]&searchtype=data&offset=1).

![screen shot 2016-08-09 at 12 56 15 pm](https://cloud.githubusercontent.com/assets/11318005/17527389/ca9a4f5c-5e30-11e

[2016-08-12 17:27] DataMedFeedback opened #140 "question about funding information for datasets"
Hello,
I am exploring your data discovery index for the first time--it is really nice! I am a contractor for the National Institute of Environmental Health Sciences (NIEHS) and am working on a project to provide links to a specific funding program's (Superfund Research Program) public data sets. We are currently searching for data sets using PubMed using specific grant numbers and the SI tag. We a

[2016-08-12 20:39] saeid-p commented on #72
## Source: http://129.106.31.121:9200/_plugin/head/

| Repository | Title | Date Published | Author |
| --- | --- | --- | --- |
| ArrayExpress | title (string) | dateReleased (date) | NOT FOUND |
| BioProject | title (string) | dateReleased (date) | NOT FOUND |
| CIA | title (string) | [datasetdistribution].dateReleased (string) | NOT FOUND |
| CIL | title (string) | NOT FOUND | NOT FOUND |
| Clin

[2016-08-12 21:02] jgrethe commented on #72
@yul129 : can you verify that these have all been corrected for the upcoming data run.

[2016-08-17 12:46] proccaserra commented on #140
Hello Lesley,
The datamed data ingesters do map to pubmed information and grant information when available from the data feeds provided by the resources indexed in datamed. When given a pubmed id or DOI, we can technically tap into crossref fundref and NCBI Entrez services to try to pull funding information.
the information would then be available to the search engine. Currently, those specific fi

[2016-08-17 16:59] NinaSalimi commented on #113
This issue has been fixed.

[2016-08-17 16:59] #113 closed, assigned to nobody

[2016-08-18 17:44] NinaSalimi commented on #27
The page has been redesigned. An email was sent to Dr. Avi.

[2016-08-18 17:44] #27 closed, assigned to aegururaj

[2016-08-18 19:02] NinaSalimi commented on #65
We notified the sender of the feedback that we are working on this part and will update her once the process is completed.

[2016-08-18 19:02] #65 closed, assigned to aegururaj

[2016-08-18 19:07] NinaSalimi opened #141 "Feedback About Search Page"
Taken from #74 ----
This feedback has been collected from the survey form. In order to protect user's privacy, the personal information has been removed.

I am confused by the synonyms tag -- what does this mean? For example, when I searched "Canada" a synonym included was "Ginger, Wild" -- are these supposed to be like MeSH terms?

[2016-08-18 19:17] NinaSalimi opened #142 "Feedback About Search Page"
Taken from #74 -----
This feedback has been collected from the survey form. In order to protect user's privacy, the personal information has been removed.

Please provide metadata on the specific publications that are either "generated from" a specific dataset OR the publication that the dataset is a "product of".

[2016-08-18 19:17] NinaSalimi commented on #74
They are separated now.
The second question has been moved to issue #141
The third question has been moved to issue #142

[2016-08-18 23:15] yul129 commented on #72
Here is the updated status of mapping the fields
https://docs.google.com/spreadsheets/d/1I8Cr0IH5rmzVO9NzRGv7vLQbRTgQwXsb5iaO107-hms/edit#gid=0

[2016-08-19 21:34] RuilingLiu commented on #72
Hi @yul129 ,

This document is not public. We need your permission to open it.

[2016-08-22 15:37] naturalbeau commented on #2
In the current version of datamed, we are not handling wildcarding. We will close this issue for now.

[2016-08-22 15:37] #2 closed

[2016-08-22 15:50] naturalbeau commented on #51
In the updated metadata, GEO does not contain citation. It includes a publication pmid ID. It is shown as:
http://datamedbeta.biocaddie.org/display-item.php?repository=0003&id=57718128e4b0a53ddff8fc6e&query=

![screencapture-datamedbeta-biocaddie-org-display-item-php-1471880755182](https://cloud.githubusercontent.com/assets/6586013/17861256/eb81d7a6-6855-11e6-8f63-b1a67e52cda6.png)

[2016-08-22 16:15] RuilingLiu commented on #131
A label has been add to x axis.

![screen shot 2016-08-22 at 11 14 33 am](https://cloud.githubusercontent.com/assets/11318005/17862154/a550e8a4-6859-11e6-84bb-5b7327c5605d.png)

[2016-08-22 16:17] naturalbeau commented on #74
The first question is fixed. In repositories page, when user clicks on the repository name, it  would go to the page showing all datasets from that repository.

[2016-08-22 16:49] RuilingLiu commented on #133
We don't add synonyms if the user uses advanced search function. Because adding synonyms will slow down the performance of the website.

For example, if a user searches "Lung AND cancer". "Lung" has[ 3 synonyms](http://datamedbeta.biocaddie.org/dev/biocaddie-ui/expanded-query.php?q=lung), cancer has[ 22 synonyms](http://datamedbeta.biocaddie.org/dev/biocaddie-ui/expanded-query.php?q=cancer).  Ther

[2016-08-22 19:14] yul129 commented on #72
I just updated the sharing setting, it should be public now.

---

From: RuilingLiu [notifications@github.com]
Sent: Friday, August 19, 2016 2:34 PM
To: biocaddie/prototype_issues
Cc: Yueling Li; Mention
Subject: Re: [biocaddie/prototype_issues] Add New Fields To Sorting (#72)

Hi @yul129https://github.com/yul129 ,

This is document is not public. We need your permission to open it.

—
You are rec

[2016-08-22 21:57] RuilingLiu commented on #121
This issue has been fixed. Email and screen name will be kept and displayed.

![screen shot 2016-08-22 at 4 55 35 pm](https://cloud.githubusercontent.com/assets/11318005/17873111/48233184-6889-11e6-8f4a-180e7295e3ef.png)

[2016-08-23 14:25] naturalbeau commented on #105
The repository_list page has added a description column about each repository.
http://datamedbeta.biocaddie.org/repository_list.php
![screencapture-datamedbeta-biocaddie-org-repository_list-php-1471962222783](https://cloud.githubusercontent.com/assets/6586013/17895679/776f21c0-6913-11e6-98a6-edd184af6535.png)

[2016-08-23 14:36] naturalbeau commented on #14
I have checked the 24 repositories and took off the facets which use the journal information. Related issue #142

[2016-08-23 14:40] jgrethe commented on #14
As mentioned - there are two kinds of journal information:
1) Publication that was responsible for the dataset (i.e. the primary publication) - e.g. as what is listed in PDB
2) Citations of the dataset - i.e. publications that used the data.

I do agree that faceting on this information may not be useful though...

[2016-08-23 14:43] agbeltran commented on #105
Thank you @naturalbeau. I think it would be useful to add a link to the repositories themselves too.

[2016-08-23 15:53] naturalbeau commented on #134
In the advance search page, the bug about the autocomplete is fixed.
The first search box in step 2 now has the autocomplete function.
Right now the autocomplete contents are from Scigraph autocomplete function.
![2](https://cloud.githubusercontent.com/assets/6586013/17899021/7ac3d206-691f-11e6-82fc-990fd74c9977.png)

[2016-08-23 18:58] naturalbeau commented on #142
I have checked the 24 repositories in the current UI. There are 8 repositories which has either publication or citation information.

PDB and ArrayExpress has citation count number.
ClinicalTrials has publication title.
PDB has detail publication information(DOI,PMID, author,title,year,etc...)
Dataverse has publication description.
GEO has publication ID.
proteomeXchange has publication title.
phy

[2016-08-25 14:35] RuilingLiu commented on #84
There are only 121 hits from GEO in DataMed v1.0

[2016-08-25 20:25] #47 closed, assigned to aegururaj

[2016-08-25 20:25] aegururaj commented on #47
The thread was opened during testing.

[2016-08-26 17:09] RuilingLiu commented on #138
Hi @chung88

I used "Kinase Proteomics" as a keyword and searched in [LINCS data portal](http://lincsportal.ccs.miami.edu/datasets/), there was no results found. Do you know any datasets related to "Kinase Proteomics" from LINCS, but has not been included in DataMed website?

Thanks!

[2016-08-26 17:12] RuilingLiu commented on #85
Hi @dianneusa ,

We tested this issue using Internet Explore 11 on both Window 7 and Window 10 machine. But we cannot reproduce the bug. So we will close this issue for now.

[2016-08-26 17:12] #85 closed, assigned to RuilingLiu

[2016-08-26 17:54] jgrethe commented on #84
The issue here is what is a GEO dataset.  Currently GEO lists 4,348 datasets (increase since last time we crawled it).
http://www.ncbi.nlm.nih.gov/sites/GDSbrowser/

However, there are many more samples (i.e. multiple samples and series per dataset).

[2016-08-26 18:40] RuilingLiu commented on #137
Hi @pournejati

This dataset has download url in the [metadata](https://datamed.org/display-item.php?repository=0004&idName=ID&id=56d0fe04e4b0cd9ed8fc73c8&query=GCP%20data%20-%20kinase%20inhibitors). But when I download this dataset from the [search result page](https://datamed.org/search-repository.php?query=GCP%20data%20-%20kinase%20inhibitors&searchtype=data&repository=0004), there is no downlo

[2016-08-26 20:59] naturalbeau commented on #140
Currently in DataMed, we link to grant information via PMID. If a dataset includes a PMID, we search that PMID in PubMed and get the grant number by using PubMed API. After we get the grant number, we search that number in the NIH eReporter database and show the details about that grant in grant_details page. Since the eReporter does not have a API, we have downloaded the eReporter database and bu

[2016-08-26 21:17] naturalbeau commented on #140
Currently, datatype in DataMed is at repository level, not at dataset level. We do not use controlled terminology for datatype now. We have explored different datatype ontology and prepared a ontology combining from two different sources. One is from bioproject , one is from EDAM.  The ontology is not finalized yet and more discussion may be needed.

[2016-08-30 16:44] RuilingLiu commented on #79
An email has been sent to the issue reporter a week ago. But we didn't get a reply. We will close this issue for now.

[2016-08-30 16:44] #79 closed, assigned to RuilingLiu

[2016-08-31 14:02] chung88 opened #143 "[LINCS] biocaddie Data Types or Subject Study Domain Area"
LINCS contains the following data types (subject domain area):
-  Phenotype
-  Proteomics Data
-  Gene Expression
-  Imaging Data
-  Cell Signaling Data
-  Biochemical
  Datamed "Data Types":  https://datamed.org/datatypes.php page; LINCS is under "unspecified"
  On the table https://datamed.org/search-repository.php?query=%20&searchtype=data&repository=0004, LINCS has "Data Type"; on the fifth co

[2016-08-31 15:30] soysal commented on #141
This was a terminology issue. Since countries were not in the terminology, Canada snakeroot (Asarum canadense or wild ginger - MeSH: D030023) was identified as the closest concept.

[2016-08-31 16:18] naturalbeau commented on #141
We have added geographic regions to the terminology. Now the problem is fixed.

[2016-08-31 19:06] chung88 commented on #140
The LINCS dataset landing pages will have funding as a field value of the dataset.

In LINCS the "data type" is the subject study domain area.  [git issue 143](https://github.com/biocaddie/prototype_issues/issues/143)

[2016-09-02 16:48] naturalbeau commented on #104
Just to follow up, in the future index of clinicalTrials, will we have a field in the metadata to indicate if a record has results? If yes, we can implement this information in the UI. @jgrethe

[2016-09-02 17:27] yul129 commented on #104
Yes, this field should be available in the future.

---

From: Xiaoling [notifications@github.com]
Sent: Friday, September 02, 2016 9:48 AM
To: biocaddie/prototype_issues
Subject: Re: [biocaddie/prototype_issues] Make use of "with results" attribute to filter which clinical trials.gov entries are ingested to biocaddie (#104)

Just to follow up, in the future index of clinicalTrials, will we have a

[2016-09-02 17:53] jgrethe commented on #104
This is the 'availability' field in the new DATS model.

[2016-09-06 15:23] RuilingLiu commented on #138
Thank you for the feedback! We will reopen this issue if there are more questions later.

[2016-09-06 15:23] #138 closed, assigned to RuilingLiu

[2016-09-06 15:29] RuilingLiu commented on #137
In the updated metadata, there is no download URL for this dataset

[2016-09-06 15:29] #137 closed, assigned to jgrethe, RuilingLiu

[2016-09-06 15:31] #101 closed, assigned to RuilingLiu

[2016-09-07 18:23] NinaSalimi commented on #29
An email was sent to the reporter notifying him that the logo is coming from the BioCaddie website and that we do not have any control over it.

[2016-09-07 18:23] #29 closed, assigned to aegururaj

[2016-09-07 18:45] NinaSalimi commented on #32
We notified the reporter that we will keep his suggestion in mind for the next release of the website.

[2016-09-07 18:45] #32 closed, assigned to aegururaj

[2016-09-07 18:48] NinaSalimi commented on #30
We notified the reporter that we will keep his suggestion in mind for the next release of the website.

[2016-09-07 18:48] #30 closed, assigned to aegururaj

[2016-09-08 18:49] naturalbeau commented on #74
Response has been sent back to the user and no further reply. I will close the issue.

[2016-09-08 18:49] #74 closed, assigned to naturalbeau

[2016-09-08 18:50] naturalbeau commented on #141
Response has been sent to the user and no further reply received. Issue will be closed.

[2016-09-08 18:50] #141 closed, assigned to nobody

[2016-09-11 15:58] Daniel-Mietchen opened #144 "Look into integration with Wikidata"
Just in brief, as I am following the bioCADDIE AHM, where Hua Xu's talk just triggered the thought as to how DataMed could be integrated with Wikidata.

Some starting points:
https://www.wikidata.org/wiki/Template:Medical_properties
https://www.wikidata.org/wiki/Template:NIH_properties
https://www.wikidata.org/wiki/Template:Bibliographical_properties

[2016-09-11 16:03] jgrethe commented on #144
One area is definitely alignment between the properties listed above and DATS (and also schema.org).

At the level of indexing of datasets - One question I have is what would constitute a dataset within Wikidata?  Would that be all of the properties for a specific Wikipedia page?

[2016-09-11 16:06] Daniel-Mietchen opened #145 "What about a video tutorial?"
Just followed Hua Xu's talk at the bioCADDIE all-hands and was wondering whether something like his live demo has been made available as a screencast/ video tutorial in places like the BD2K YouTube channel.

Doing this may help with outreach, especially if the demo involves some popular topics or unusual features.

[2016-09-11 16:11] Daniel-Mietchen commented on #144
Yeah, I think indentifier mapping would be a good place to start.

As for what constitutes a dataset within Wikidata, there is not a simple answer, and it's evolving in multiple ways. Some starting points: https://www.wikidata.org/wiki/Wikidata:Data_access . The more interesting starting points could perhaps be the results of some queries, e.g. [Find drugs for cancers that target genes related to

[2016-09-11 16:31] Daniel-Mietchen opened #146 "Polish instant search a bit more"
I just went into DataMed and typed in "Aedes". This did not yield any results via instant search, even though there is a useful set of results after hitting the search button:
https://datamed.org/search.php?query=aedes&searchtype=data .

[2016-09-11 16:32] Daniel-Mietchen opened #147 "Incomplete data on Zika?"
I was surprised to see that a search for "Zika" or "Zika virus" yielded zero results, even via advanced search:
https://datamed.org/search.php?searchtype=data&query=%22Zika+virus%22[All+Search+Fields] .
Given the databases already integrated with DataMed, I would have expected some more to show up. Some hints via https://sis.nlm.nih.gov/dimrc/zikavirus.html .

[2016-09-11 16:45] RuilingLiu commented on #146
Hi @Daniel-Mietchen ,

There are some results from protein structure, gene expression, clinical trials and unspecified data types. Is this the instant search you are talking about?

![capture](https://cloud.githubusercontent.com/assets/11318005/18418911/9983e806-780c-11e6-8a28-71612b9607ba.PNG)

[2016-09-11 17:10] Daniel-Mietchen opened #148 "Integration with data management plans"
Some groups are working on [making DMPs machine actionable and public](https://indico.cern.ch/event/520120/contributions/2177900/attachments/1299358/1938982/DMPs_-_actionable_and_public.pdf), with respositories and aggregators being one of the use cases (see slides 11ff in that presentation).

What needs to be done on the bioCADDIE end to make use of and expose the information contained in such DM

[2016-09-11 17:13] Daniel-Mietchen commented on #146
Yes, that's what I meant. I just checked again, and it worked fine. Could the reported issue be related to the slow WiFi here at the AHM?

[2016-09-11 17:41] RuilingLiu commented on #146
@Daniel-Mietchen . It could be. It takes time to load the instant search results. Thank you for your feedback!

[2016-09-12 00:42] soysal commented on #147
This is correct. There is no research dataset on Zika in indexed datasources in version 1.0. With the next data update, we'll have one new dataset generated on April 27, 2016 from Dryad, entitled "Data from: Zika Virus in the Americas: early epidemiological and genetic findings". But, since it's a new thread, probably there is no available data yet..

[2016-09-12 00:57] aegururaj commented on #147
Also want to note that "Scientific Data", that is in the pipeline for indexing by DataMed, had a recent call for call for submission of Zika virus related datasets (please see http://blogs.nature.com/scientificdata/2016/01/20/call-for-submissions-zika-virus-related-datasets/). So we should see more datasets coming up if the datasets are available via Scientific Data.

[2016-09-15 20:22] #39 closed, assigned to RuilingLiu

[2016-09-15 20:50] #82 closed, assigned to naturalbeau

[2016-09-16 15:40] #1 closed

[2016-09-16 15:42] NinaSalimi commented on #78
We are testing this with Nature Scientific Data currently. We are not sure about receiving data paper submissions from the DDI. As we don't archive data sets (i.e. bioCADDIE is not a data repository) we wouldn't be submitting data papers.

[2016-09-16 15:42] #78 closed, assigned to saeid-p, aegururaj

[2016-09-16 16:00] NinaSalimi commented on #78
Also, an email was sent to the reporter of this issue...

[2016-09-16 16:42] NinaSalimi commented on #71
An email was sent to the reporter of this issue indicating that these functions have been implemented in the latest version of the website.

[2016-09-16 16:42] #71 closed, assigned to aegururaj

[2016-09-16 19:41] #131 closed, assigned to nobody

[2016-09-16 19:50] RuilingLiu commented on #81
Hi @margolisr
Is the navigation bar good enough for user to find the home page? Should we close this issue?

[2016-09-16 19:53] RuilingLiu commented on #42
Hi @chung88
Is the resolution of the issue appropriate? Is it OK for us to close this issue?

[2016-09-16 19:54] margolisr commented on #81
Yes. Thank you.

Sent from my iPad

On Sep 16, 2016, at 1:50 PM, RuilingLiu <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @margolisrhttps://github.com/margolisr
Is the navigation bar good enough for user to find the home page? Should we close this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/

[2016-09-16 19:57] #81 closed, assigned to RuilingLiu

[2016-09-16 19:59] chung88 commented on #42
You can merge this issue with other issues that connect into a discussion to improve the bioCaddie term "data type", in LINCS it is the "Subject Domain Area".

[2016-09-16 20:08] RuilingLiu commented on #42
Duplicate of issue #143

[2016-09-16 20:08] #42 closed, assigned to RuilingLiu

[2016-09-16 20:42] #146 closed, assigned to nobody

[2016-09-16 20:45] #147 closed, assigned to nobody

[2016-09-16 20:48] NinaSalimi commented on #147
@Daniel-Mietchen thanks for your feedback.

[2016-09-16 20:49] NinaSalimi commented on #146
@Daniel-Mietchen , thanks for your feedback.

[2016-09-19 17:39] RuilingLiu commented on #67
An email has been sent to the issue reporter. Below is his response:

---

Hi Ruiling,

Thank you for reaching out. It does help that you have now added the citation, although I’m confused about the citation inclusion within the record alongside the “Related Publications” on the right hand side. How are these publications on the right hand side related to the dataset? Are they different from the c

[2016-09-19 19:48] RuilingLiu commented on #67
My reply to the issue reporter

---

The related publications are different from the citation information. To get the related publication, we use the title of the dataset as a keyword and search this keyword in PubMed. We implemented a backend web service to retrieve these publications from PubMed. While the citation here is from the original metadata of the dataset.

[2016-10-03 18:33] DataMedFeedback opened #149 "Nutrition"
Hello,

I am interested in learning about any nutrition specific attributes you have of existing data or if and how you ask about nutrition relevant attributes.

Thanks!

carpe diem, Sheila

[2016-10-03 18:34] DataMedFeedback opened #150 "Nutrition"
Hello,

I am interested in learning about any nutrition specific attributes you have of existing data or if and how you ask about nutrition relevant attributes.

Thanks!

carpe diem, Sheila

[2016-10-10 20:38] aegururaj commented on #150
Duplicate of #149

[2016-10-10 20:38] #150 closed, assigned to nobody

[2016-10-18 18:41] ianfore opened #151 "Low precision on query for mouse red blood cell gene expression studies"
Entered "mouse red blood cell" as query text.
Clicked on "Gene expression" data type facet
18 results
Only 7 of these could really be said to be concerned with gene expression in red blood cells (or their progenitor cells). Precision = 38%
See attached sheet for judgments on which are false positives and some analysis of why they were matched.
[mouse red blood cell.xlsx](https://github.com/biocadd

[2016-10-18 18:52] ianfore opened #152 "GEO indexing does not seem to be retrieving relevant datasets"
Entered "mouse red blood cell" as query text.
Clicked on "Gene expression" data type facet
18 results
17 of those are returned from ArrayExpress but represent studies from GEO.
Of those 17 one was also returned as a GEO dataset (GSE24127)
Of the 16 remaining 11 were false positives
There are therefore 5 relevant GEO entries that were not retrieved.
1/6 = 16.7% recall

[2016-10-18 19:03] ianfore commented on #152
Taking one example. E-GEOD-71288 corresponds to GEO accession GSE71288
Searching Datamed with the text "GSE71288" does not return anything. This suggests the record is not even present. Was this record added to GEO after GEO was indexed?
That seems an unlikely explanation. GEO shows this record as being public on 8/1/15.

[2016-10-18 19:14] ianfore commented on #152
Another example: E-GEOD-24127 corresponds to GSE24127
Searching Datamed for GSE24127 shows the following minimal metadata for one "series" and four "accessions"

 EryP_E85_rep2 GEO
Geo accession: GSM594011
Platform: GPL6105
Series: GSE24127

 EryP_E105_rep2 GEO
Geo accession: GSM594017
Platform: GPL6105
Series: GSE24127

 EryP_E85A_rep2 GEO
Geo accession: GSM594005
Platform: GPL6105
Series: GSE241

[2016-10-18 19:34] jgrethe commented on #152
This gets to the scope of what bioCADDIE is looking at.  From past discussions we had limited the indexing to actual GEO datasets.  However, the example above (GSE24127) seems to be from a series not associated with a dataset.

GSE71288 is also a series without a GEO Dataset. So the question is - should we also index the individual series independent of the datasets.

![geo-nodataset](https://clou

[2016-10-19 14:18] ianfore commented on #152
We're treating the same thing in different ways depending whether we encounter it through the GEO ingest or the ArrayExpress ingest. That amounts to a) differences in what we treat as a dataset and b) the metadata that is extracted and indexed.

As far as I can see GSE24127 and GSE71288 each have a dataset
https://www.ncbi.nlm.nih.gov/geo/download/?acc=GSE24127
https://www.ncbi.nlm.nih.gov/geo/dow

[2016-10-21 14:54] ianfore opened #153 "Cancer Imaging Archive entries in Datamed lack key metadata such as Disease"
One of bioCADDIE's key use cases is to find datasets based on the disease studied in the dataset. (N.B. not all datasets are a study a disease, but many are).

Searching Datamed for "Glioblastoma" or "Glioblastoma multiforme" does not return any results

The Cancer Imaging Archive (http://www.cancerimagingarchive.net) lists on its home page three datasets (collections of images) which NCI, and the

[2016-10-24 21:24] aegururaj commented on #153
Hi Ian,

Recognition of disease at the backend via NLP has just been implemented and is part of DataMed v1.5 release.

"Glioblastome" is french for Glioblastoma and in DataMed, it does a spellcheck and asks if you mean Glioblastoma. Please see attached screenshot.

![screen shot 2016-10-24 at 4 14 50 pm](https://cloud.githubusercontent.com/assets/11777302/19664476/24b1557e-9a06-11e6-994c-1ce50edce

[2016-10-25 14:50] DataMedFeedback opened #154 "Search results too broad?"
I searched for a specific gene: endoglin, and received results that also included truncation of "end," as in "paired end."  Just bringing this to your attention.  Not sure why the system is seemingly automatically truncating queries.  Thanks.
--Carrie

[2016-10-25 16:35] jgrethe commented on #152
The series have data but they do not belong to a GEO Dataset (according to what GEO classifies as a dataset). We can bring in both the datasets and the series.

[2016-10-25 16:50] naturalbeau commented on #140
Response has been sent to submitter.

[2016-10-25 18:36] naturalbeau commented on #151
Actually 38% is not a low precision for web retrieval tasks. In TREC 2014 CDS track, the top ranked results P@10=0.3633. P@10 means the precision for the first 10 return results. Currently, we are trying to improve the performance by using NLP server and exploring different strategies on the benchmark datasets. If better performance can be achieved, we will update it on the DataMed.

[2016-10-25 18:45] jgrethe commented on #153
Hi Ian,
This is also due to the work we have been doing with TCIA and DataCite.  At the June repositories meeting - we discussed with TCIA using their data feed (through DataCite).  However, the current version of that data feed is not yet fully complete.  We will continue to work with TCIA and DataCite on this.

One option is to fall back to the web scraping approach we had done previously - whic

[2016-10-28 23:03] lohnomac opened #155 "Github registering"
It is too much work to get a user to register in Github to submit feedback. In the past this was not needed, why has it changed?

[2016-10-28 23:04] lohnomac opened #156 "Searching CYP11B1"
There is a suggestion "did you mean CYP12B1". Then when you type CYP12B1 it says there are no results? Why was it suggested in the first place?

[2016-10-28 23:52] ianfore commented on #153
Glioblastome was a typo for Glioblastoma when I put this in GitHub. The behavior I saw was with the text Glioblastoma.

[2016-10-28 23:56] ianfore commented on #156
I've noticed this with other queries - it gave me a "did you mean" and there were no results for it.

I'm guessing that the autocompletion/"did you mean" is driven by what's on the ontology server rather than what's in the index.

[2016-11-01 14:10] ianfore commented on #154
What does tagging this as usability mean? What will be done about it? Please provide more comments here.

It looks like this match occurs because the query is expanded (by the ontology server?) to
(data)"endoglin" OR "CD105" OR "END" OR "endoglin" OR "HHT1" OR "ENG"

What Carrie describes suggests that "END" is then being applied to all fields of the index.

[2016-11-01 15:04] ianfore commented on #155
As I understand it we have multiple mechanisms for feedback. If someone does not want to register then they can use the "Contact Us" option.

Feedback sent through that route does end up in GitHub as entered by "DataMedFeedback".

I just checked through the GitHub registration process to remind myself what's involved for those that do register with GitHub themselves . Just three fields. Username,

[2016-11-01 15:43] ianfore commented on #156
Here's a "did you mean" example I came across yesterday
Entered "Non-Hodgkins GWAS" as my search i.e. what seems to me a quite reasonable thing to type if I was looking for Genome Wide Association Studies on Non-Hodgkin's Lymphoma.
Datamed asked "Did you mean non hodgkin's gnas ?"
This seems rather random and gives no impression that the tool "understands" what I am trying to look for.

If I searc

[2016-11-01 15:51] ianfore commented on #156
For comparison. In Google, if I mistakenly type "non hodkins gwas" it
a) Takes matters into its own hands and actually searches for "non hodgkin's gwas"
b) Tells me it did so
c) Gives me highly relevant results

Bing also does a) and b) in a slightly different way
"No results found for non hodkins gwas.
Showing results for non hodgkins gwas."
It shows some relevant results but more false positives

[2016-11-01 19:32] ianfore opened #157 "GWAS Dataset Finder not finding an expected GWAS"
Searching the GWAS Dataset Finder for any of
Non-Hodgkins, Non hodgkin or Hodgkin does not return any results

There are known GWAS studies that look at Non-Hodgkin's Lymphoma.

Why does the GWAS Dataset Finder not find them?

[2016-11-07 19:18] chung88 opened #158 "[LINCS] LDS-1229 Title on datamed does not match the LINCS dataset landing pages."
1.-  Go to link:  https://datamed.org/display-item.php?repository=0004&idName=dataset.title&id=56d0fe03e4b0cd9ed8fc739d&query=LINCS

2.-  Read dataset title:
"Title:	LINCS Pilot Phase Joint Project: Sensitivity measures of six breast cancer cell lines to a library of small molecule kinase inhibitors (single drug treatments). Dataset 4 of 7: Mean cell count and growth rate across biological replica

[2016-11-08 18:23] jgrethe commented on #158
This is due to the crawling frequency - currently we have been issuing new data with new releases of the UI.  The current index for 1.5 has the updated information:

[{
"took": 1,
"timed_out": false,
"_shards": {
"total": 5,
"successful": 5,
"failed": 0
},
"hits": {
"total": 1,
"max_score": 0.3718034,
"hits": [
{
"_index": "lincs_20161025",
"_type": "dataset",
"_id": "580fd35c5152c648c68d0c26",
"_

[2016-11-10 16:30] margolisr opened #159 "Low precision on search for Estrogen Receptor (ER) transcription"
This search term gives superficial results and does not link to obvious sources of datasets such as NURSA and transcriptomine.

[2016-11-10 22:16] naturalbeau commented on #157
I have fixed the problem by changing the search fields to all fields. Before it just search some of the fields. Please take a look. @ianfore

[2016-11-15 14:23] ianfore commented on #157
Thanks. It's now returning data.
We can close the issue but some bigger questions remain.
How do we decide which fields to search?
How do we drive that from what users would expect?

[2016-11-15 14:23] #157 closed, assigned to naturalbeau

[2016-11-16 22:06] ianfore opened #160 "Various issues with v1.5 repository list"
This is in 2.0 at datamedbeta.

On the list of repositories the icon, description and link for Vectorbase are OK - but the text says Dataverse.

[2016-11-16 22:07] ianfore opened #161 "We need a label here in GitHub for version 1.5"
Now Datamedbeta is available we need to be able to mark issues that we observe in that version.

[2016-11-16 22:31] ianfore commented on #160
A number of repositories listed have the Dataverse description or, in one case, the Dryad description. I guess we may be waiting on some of the descriptions.

[2016-11-16 23:02] ianfore opened #162 "Granularity for TCGA is too fine"
For the level at which Datamed works, the appropriate level of granularity at which to represent TCGA is more likely to be at the level of the 32 cancers that were studied.
https://cancergenome.nih.gov/cancersselected

As it stands, Datamed indexes it every file in TCGA as a separate dataset. This seems undesirable for at least a couple of reasons.

1. Each individual file cannot be considered a "

[2016-11-17 00:05] RuilingLiu commented on #160
Hi Ian,

On the list of repositories, the title has been corrected.

[2016-11-17 14:34] ianfore commented on #161
Thanks for the label!

[2016-11-18 14:04] ianfore commented on #162
The table on this TCGA data portal page gives an excellent overview of the sets of data in TCGA. The Target project is in there as well as TCGA.
https://gdc-portal.nci.nih.gov/projects/t
Each row is a disease. Six of the columns indicate the data types (data categories) available.

[2016-11-18 14:18] ianfore commented on #161
My error. I guess the label we need for tagging issues in datamedbeta at this point in time is v 1.5. Anything I've flagged so far as 2.0 is actually 1.5. Is it easy to just change the label? We probably don't need the 2.0 label yet.

[2016-11-18 14:27] ianfore opened #163 "Search by disease does not retrieve relevant TCGA data"
Searching Datamed v 1.5 with the names of a disease studied in TCGA does not return any TCGA results.

Examples tried were "Adrenocortical Carcinoma", "Acute Myeloid Leukemia" and "Glioblastoma Multiforme".

See also issue 162. That issue would make indexing individual files by disease moot. However, the point of this issue is that whatever level TCGA is indexed at, indexing by disease is importan

[2016-11-18 14:58] ianfore commented on #162
This landing page is what I would suggest is an appropriate granularity
https://gdc-portal.nci.nih.gov/projects/TCGA-BRCA
It's the link from the first column in the table above and corresponds to what I called 1.a) above.

[2016-11-21 10:58] aegururaj commented on #161
The label has been changed to v1.5

[2016-11-21 10:58] #161 closed, assigned to nobody

[2016-11-21 11:03] aegururaj commented on #160
@RuilingLiu , please fix the data repository descriptions for the various repos. A lot of them still have the Dataverse description.

[2016-11-21 14:27] ianfore commented on #160
Thanks for the change!

[2016-11-21 14:51] ianfore commented on #161
Thanks for the change

[2016-11-21 15:31] RuilingLiu commented on #160
The descriptions for these repositories have been fixed

[2016-11-21 18:53] DataMedFeedback opened #164 "Test"
Submitter's Name:NIna<br>Submitter Email:mandana.salimi@uth.tmc.edu<br>Submitter's Organization:UTHealth<br>Repository Full Name:Test<br>Repository Abbreviation:test<br>Repository Homepage URL:test<br>Repostitory Type of content:Physiological Signals<br>Is a data use agreement required?:No<br>Is metadata accessible in a machine-actionable format (XML, RDM, etc.)?:No<br>

[2016-11-21 18:57] DataMedFeedback opened #165 "dsfdg"
TEST

[2016-11-21 21:33] DataMedFeedback opened #166 "test"
this is a test

[2016-11-21 22:05] soysal opened #167 "search result email error"
1. search for thyroid mass.
2. select 2nd and 9th result
3. Click send to
4. select email
5. enter your email
6. click submit.

You'll receive an email as:
bioCaddie data extracted for "thyroid mass".

Caught exception: Invalid argument supplied for foreach() Line: 58 Trace: #0 /var/www/biocaddie/Model/Repositories.php(58): {closure}(2, 'Invalid argumen...', '/var/www/biocad...', 58, Array) #1 /va

[2016-11-22 16:16] RuilingLiu commented on #167
The bug has been fixed @soysal

[2016-11-22 16:32] soysal commented on #167
verified.

[2016-11-22 16:32] #167 closed, assigned to RuilingLiu

[2016-11-22 16:43] soysal opened #168 "no feed back on send to email"
Upon a (un)successful emailing of selected datasets, there is no user feedback.
A feedback would be nice for usability aspect: "selected datasets were sent to ..." or (error sending email to ....)

[2016-11-22 17:51] #164 closed, assigned to nobody

[2016-11-22 17:51] #165 closed, assigned to nobody

[2016-11-22 17:51] #166 closed, assigned to nobody

[2016-11-22 18:17] DataMedFeedback opened #169 "Are repository requests going to the right GitHub repository?"
Submitter's Name:test<br>Submitter Email:test@yahoo.com<br>Submitter's Organization:dfvdfb<br>Contact Person:gfgf<br>Contact Email:gfgh@dfgrg.com<br>Repository Full Name:fggf<br>Repository Abbreviation:dfdg<br>Repository Homepage URL:gfdgdfg.com<br>Repostitory Type of content:Protein Structure<br>Is a data use agreement required?:No<br>What dataset identifiers are used?:<br>Is metadata accessible

[2016-11-22 20:41] DataMedFeedback opened #170 "Testing the "contact us" page"
Part of testing 1.5

[2016-11-22 20:50] DataMedFeedback opened #171 "Testing the"
Part of testing 1.5

[2016-11-23 17:02] ianfore commented on #170
This is testing that the link to GitHub works. Closing.
Perhaps we should have a label to mark these kinds of items because otherwise they inflate the number of real issues that have been fixed. I think I've seen five of them now
The "Invalid" label looked like one to consider - but it isn't really the right meaning.
I would suggest "artifact" is a suitable label that could be used for these items

[2016-11-23 17:02] #170 closed, assigned to nobody

[2016-11-23 17:05] ianfore commented on #171
Not sure why I got this partial entry in GitHub when I was using the "Contact us" form id DataMed. Will look to see if it is repeatable - though it's not high on my priority list

[2016-11-23 17:09] ianfore commented on #169
The data/request looks like is came from the repository entry form. Are those supposed to end up in the "prototype_issues" GitHub repository. Isn't there a repository specifically for managing repositories.

[2016-11-23 17:26] naturalbeau commented on #169
It should go to the submit_repository-management issues. Have changed it. Please test it again. @ianfore

[2016-11-23 17:51] ianfore commented on #169
Thanks for the fix. On the subject of retesting it..
Someone else did the test that resulted in it ending up here. I just happened to notice it here. I could work out how to do the test myself but I'd rather the original tester rechecked it.
My goal is to ensure that testers are following through on the results of their testing.
First, in checking through that the results of a test were as expecte

[2016-11-23 18:08] ianfore commented on #160
The Dataverse description needs attention. I am sure the description is accurate, likely copied from somewhere in Dataverse. However, this is describing Dataverse as a system for building repositories rather than indicating which Dataverse repository or repositories have been indexed. It's the content of a repository rather than the container that is important.

Morphobank description is a duplica

[2016-11-23 19:01] RuilingLiu commented on #160
The descriptions of Morphobank and Uniprot have been fixed.

We can only find description for [Neurovault](http://neurovault.org/). @jgrethe mentioned that neurovault-atlas, neurovault-cols and neurovault-nidm are three different types of data. Should we merge them as one repository named neurovault?

[2016-11-23 19:06] jgrethe commented on #160
We can do either for Neurovault. The three different datasets are atlases, analysis results, and images

[2016-11-23 19:13] jgrethe commented on #133
As I mentioned before - perhaps this is something to deal with during indexing.  We can discuss at our next CDT meeting...

[2016-11-23 19:40] ianfore commented on #160
So @jgrethe you could say it's all there in the title :-) But we should say more.

30 seconds on neurovault gives me a clue about something that communicates better what it's all about "produced by MRI and PET studies".

[2016-11-23 21:57] ianfore commented on #169
Tested it myself. The entry went to the submit_repository-management issues repository

[2016-11-23 21:57] #169 closed, assigned to nobody

[2016-11-29 20:28] CarolBult opened #172 "Improper syntax for taxonomic designations"
Standard syntax for taxonomy is that the genus name starts with a capital letter and the species starts with a lower case letter. So for humans it is Homo sapiens, not Homo Sapiens. For mouse it is Mus musculus, not Mus Musculus. See attached screenshot of the indexing from MPD in DataMed. The syntax for taxonomic designations in DataMed needs to be updated.

<img width="313" alt="screen shot 2016

[2016-11-29 20:33] CarolBult opened #173 "Strain names are essential for identifying relevant data for the laboratory mouse in MPD"
The indexing of the Mouse Phenome Database includes a category of "Inbred" for strain. This level of granularity is not sufficient for supporting discovery of appropriate datasets in MPD. The individual strains should be indexed. Strain names should use official nomenclature.

Official mouse nomenclature rules (for genes, alleles, and strains) can be found here:[http://www.informatics.jax.org/mgih

[2016-11-29 21:58] DataMedFeedback opened #174 "autism not found"
search for autism, then check "data from papers" .. first result is a figure and does not appear to be related to autism at all.

[2016-11-29 22:06] DataMedFeedback opened #175 "Parkinson/'s"
When searching "parkinson" it also give author's names instead of the disease.
Also, searching "parkinsons" gives incorrect results. Technically the disease name is "parkinson's" but we should be able to generate results without the apostrophe.

[2016-11-29 22:14] DataMedFeedback opened #176 "Instrument is vague"
In searches where you are giving sorting options by instrument (assays), it would be very nice to have a popup that shows the options for the specific chips or other equipment, because descriptions like "GPL96" are vague even for people who are very familiar with the technology.

[2016-11-29 22:45] DataMedFeedback opened #177 "Species data"
Jennie Larkin was interested in seeing all of the varieties of species available (such as human, mouse, squirrel, etc) in a manner similar to how the "data types" are displayed.

[2016-11-30 21:05] DataMedFeedback opened #178 "Feedback for searches"
2 items identified by a tester at BD2K AHM:
1) searching for mcf10 and mcd 10 give different results (space shouldn't matter)
2) Can we add a way to search "common fund" repositories? Or similar hierarchy.

[2016-12-02 14:48] makst109 opened #179 "Search: AND not default?"
I did a search for Rhesus EEG and below is the search details as provided by DataMed…which ends up just being a search really for Rhesus models because of all those OR statements not connected to the EEG statement..

Data Med (search = rhesus eeg without quotes 61,551 results)
(data)"rhesus eeg" OR "Monkeys, Rhesus" OR "mulattas, Macaca" OR "Rhesus Macaque" OR "Rhesus Macaques" OR "mulatta, Macaca

[2016-12-02 19:23] ianfore commented on #174
Trying to reproduce this to understand it. I'm not sure where the "data from papers" option is.

That aside - the fact that this query seems to bring back the whole of Swiss-Prot, PDB and almost all of clinicaltrials.gov, bioproject certainly means the query is bringing back much that has no relationship to autism. See attachment.
![autism search](https://cloud.githubusercontent.com/assets/4731517

[2016-12-02 20:06] ianfore opened #180 "Non-Hodkgin GWAS search returns all records from many repositories"
Search for dataset
search text "non-hodgkin gwas"

Returns (among other things) 560,261 protein structures.

The search seems to return the entire content of many repositories. See screenshot
Repository, % of repository returned by query
Swiss-Prot, 100%
ClinVar, 100%
ClinicalTrials.gov, almost 100%
BioProject, 100%
PDB, 100%
Dryad, ~75%
ArrayExpress, 100%
DataVerse, ~87%
NeuroMorph.org, 100%
etc.

[2016-12-05 18:01] jgrethe commented on #180
Looking at the search results - it may be related to the synonyms.  Looks like it is matching not just non-hodgkin lymphoma but also lymphoma and malignant as separate terms.

[2016-12-06 16:53] naturalbeau opened #181 "autocomplete function does not work in search page"
The autocomplete function in search page is not working. It only works on the advanced search page.

[2016-12-06 17:01] saeid-p opened #182 "Dataset Display Item Page ID Is Not Clickable"
**This issue is reported by @NinaSalimi during the monthly testing.**

In the display item page although the value of the ID field is a link, it is not clickable. [Reference here](https://datamed.org/display-item.php?repository=0010&id=5769e036e4b0937a01a74057&query=cancer).
By design, ID field is designed to be not clickable. This is an usability issue, since we are using a http link which is not

[2016-12-06 17:07] saeid-p opened #183 "About Page: Contact Us Form Details Stay Put After Submission"
**These comments provided by @ianfore over the monthly testing.**

A link to the repository list in bioCADDIe would be useful as part of this text "The data repositories covered in this initial release have been selected by the bioCADDIE team and represent only a small sample of biomedical data." - or some modified version of that text.

After pressing the submit button you are asked to confirm yo

[2016-12-06 17:07] saeid-p commented on #183
**Answer provided by @naturalbeau:**
The first item in the dropdown list from the Feedback tab is the link to the github.

[2016-12-06 20:00] ianfore commented on #180
Common words like "Non" might also cause problems.
However, a search for glioblastoma also returns the whole of SwissProt, ClinVar etc.
It's hard to see how a very specific and rare cancer can get expanded to return so many hits.

[2016-12-07 17:22] naturalbeau commented on #180
The search algorithm has been changed. Please check it out.

[2016-12-07 19:54] ianfore commented on #180
Thanks. This has addressed the problem that's matching everything.

[2016-12-07 19:54] #180 closed, assigned to nobody

[2016-12-07 20:34] ianfore opened #184 "Selecting an element in a facet clears selections made in another facet."
1. Search for "autism"
The results are shown
2. select the check box for Download under the Accessibility Facet
The box becomes checked and several boxes under the Repositories facet also become checked
3. Check Bioproject under the Repositories facet
That box remains checked but the selection under Accessibility gets cleared
4. Check Download again - the same selection is returned as at step 2

I

[2016-12-09 15:30] ianfore opened #185 "Follow up with Pubmed about grant citations"
During testing of Datamed 1.5 we found that grants were listed multiple times for a study.

It turned out that this is because the grant information returned from PubMed contains these duplicates. The duplicates was fixed in Datamed prior to its 1.5 release. (How?). The duplicates are still there in what is obtained from Pubmed, but the duplicates are eliminated somehow.

It seems worth following

[2016-12-09 18:36] DCGenomics opened #186 "Usertest"
This is a test and can be deleted as soon as it pops.

[2016-12-09 18:36] #186 closed, assigned to nobody

[2016-12-09 18:36] DataMedFeedback opened #187 "Potential repositories for inclusion"
I received an email at the bioCADDIE address from Theresa Cruz (cruzth@mail.nih.gov) asking us to consider the following repositories for inclusion:

FITBIR https://fitbir.nih.gov/
NICHD's DASH https://dash.nichd.nih.gov/
CLDR https://rehabsciences.utmb.edu/cldr/data.asp

[2016-12-09 19:25] naturalbeau commented on #185
In the DataMed, we get the list of grants from Pubmed, and then according to the grant number, delete any duplicate ones.

For example, "R01 CA079992/CA/NCI NIH HHS/United States" and  "R01-CA079992/CA/NCI NIH HHS/United States" have the same grant number; "CA90949/CA/NCI NIH HHS/United States" and "P50 CA090949/CA/NCI NIH HHS/United States" have the same grant number. For those grants, we only sh

[2016-12-09 21:34] altergc commented on #187
Sanda,  Please add these repositories to the spreadsheet and evaluate them.  Thanks.

[2016-12-10 03:27] ianfore commented on #187
Will these evaluations include a discussion with the person who suggested the repositories (Theresa in this case)? Such a discussion could be driven by the CRISIS criteria, but it would be interesting to get the suggesters take on - particularly in terms of those criteria.

[2016-12-13 14:39] DCGenomics opened #188 "Put a datamed tag on this repo?"
Searching for datamed or datamed biocaddie on gh does not unearth this page

[2016-12-13 14:40] DCGenomics opened #189 "Collapse the materials tab here?"
https://datamed.org/display-item.php?repository=0002&id=57d0b442e4b070ffc1aba60f&query=ovarian%20cancer&datatypes=Protein%20Structure#collapse-dataset-material

it takes up an enormous amount of page real estate.

[2016-12-13 14:43] DCGenomics commented on #189
Below that (here, I think: https://datamed.org/display-item.php?repository=0002&id=57d0b442e4b070ffc1aba60f&query=ovarian%20cancer&datatypes=Protein%20Structure#collapse-dataset-datasetDistributions), the pdb file should be first, before the xml, IMO.  Probably >2 OOM more use cases for pdb then the xml.

[2016-12-13 14:44] seandavi opened #190 "Is there a plan to develop an API for DataMed searches and metadata discovery?"

[2016-12-13 14:44] ianfore opened #191 "Need to see Disease as a field in Advanced Search"
Searching on a specific disease is a core function for Datamed.

More generally it would make sense to make advanced search capable of searching on all the fields of the DATS model.

[2016-12-13 14:46] DCGenomics commented on #189
Also, could there be MMTF integration with this page.  Interested to hear what @pwrose thinks.

[2016-12-13 14:48] informationista opened #192 "Create links from data types page"
On the data types page at https://datamed.org/datatypes.php, would be nice if you could click the data type and get to a search with that data type filter.  This is just a static list.

[2016-12-13 14:55] seandavi opened #193 "Why are clinvar records listed as "not available"?"

[2016-12-13 15:00] informationista opened #194 "Links to Dataverse records do not appear to work"
Checked 10+ Dataverse records, all links to datasets do not work.  Example: http://hdl.handle.net/1902.5/NSD1360.  Error message "The handle you requested, 1902.5/NSD1360, could not be found. This handle prefix is currently inactive."

[2016-12-13 15:02] seandavi opened #195 "NCI GDC metadata is pretty limited"
For example:

https://datamed.org/display-item.php?repository=0026&id=58137fc168f698b6c1d6687c&query=

Here is a link to the GDC data model:

https://gdc.cancer.gov/developers/gdc-data-model/gdc-data-model-components

Let me know if you would like to talk with GDC folks and I can organize.

[2016-12-13 15:05] DCGenomics opened #196 "BioProject sits over a bunch of datatypes and datasets"
Example 1.

This redirects to a genome assembly

https://datamed.org/display-item.php?repository=0008&id=576adc8be4b0937a01a7f38f&query=giraffes

That is something that can be gleaned from the bioproject xml.

BTW -- you can get all of the bioproject xml here:

ftp://ftp.ncbi.nlm.nih.gov/bioproject

Example 2:

https://datamed.org/display-item.php?repository=0008&id=576add3de4b0937a01a87a35&query=

[2016-12-13 15:05] seandavi opened #197 "Variant records (from as many sources as possible) should ideally support search by HGVS notation."
This is the standard by which most folks will search.  Ideally, genomic, cdna, and protein versions would be supported.

http://www.hgvs.org/mutnomen/

[2016-12-13 15:08] informationista opened #198 "Need consistency in the different search field boxes in Advanced search"
Need consistency in the different search field boxes in Advanced search.  The first field allows searching for All Search Fields, Dataset Title, Dataset Creators, and Description.  The second and any subsequent search fields allow searching for All Search Fields, Title, Author, and Description.  Even though these are similar, this lack of consistency could be confusing.

![image](https://cloud.git

[2016-12-13 15:16] DCGenomics opened #199 "Why are all the ClinVar records typed as notavailable"
They are all available.  You can get all the info in xml or vcf here:

ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/

Tagging @amanjeev in case you need help.

[2016-12-13 15:23] DCGenomics opened #200 "Login and Save Search system is really nice!"
Worked seamlessly in my testing!

[2016-12-13 15:29] informationista opened #201 "Boolean does not appear to work properly in searches"
I'm getting some weird numbers of search results when I use Boolean operators.  For example:
"colorectal cancer"[All Search Fields] OR  "CRC"[All Search Fields]: 337,566 results
"colorectal cancer"[All Search Fields]: 5,950 results
"CRC"[All Search Fields]: 500
Logically the maximum number of results I should get using OR between those two terms would be 5,950 + 500 = 6,450 but I got more than 50

[2016-12-13 15:30] DCGenomics commented on #199
It should be noted that this is a duplicate of #193 -- leaving it open because it has contact info.

[2016-12-13 15:43] DCGenomics opened #202 "Number Discrepancy between BioCADDIE and GEO"
BioCADDIE has 11 datasets:

https://datamed.org/search-repository.php?query=schizophrenia&repository=0003

<img width="893" alt="screen shot 2016-12-13 at 10 44 05 am" src="https://cloud.githubusercontent.com/assets/5738421/21146795/f14478b4-c120-11e6-9109-51338986a38f.png">

[2016-12-13 15:51] DCGenomics opened #203 "Where did the filters go?"
https://datamed.org/search.php?query=schizophrenia&searchtype=&offset=1

[2016-12-13 16:04] DCGenomics opened #204 "Another place to scrape data linkage"
https://www.ncbi.nlm.nih.gov/projects/linkout/journals/htmllists.cgi?type_id=9

[2016-12-13 16:18] DCGenomics opened #205 "dbGaP accessibility issues"
collapse study inclusion/inclusion criteria?

https://datamed.org/display-item.php?repository=0001&id=AU2_bz5eeC0xdfX7MJ02&query=alzheimers

[2016-12-13 16:29] DCGenomics opened #206 "One way to deal with the metadata issue"
https://cde.nlm.nih.gov/cde/search

You can submit additional CDEs here as necessary.

You can link from these CDEs to any relevant ontologies.

[2016-12-13 16:33] DCGenomics opened #207 "Remote Service APIs"
https://www.ncbi.nlm.nih.gov/home/develop/api.shtml

http://ga4gh.org/#/

[2016-12-13 16:34] DCGenomics commented on #207
Also the TCGA CGC stuff

[2016-12-13 16:43] DCGenomics commented on #185
Grant ids can also be extracted from BioProject through our EDirect API.

If you would like a script for that, submit an issue here:  https://github.com/NCBI-Hackathons/EDirect_EUtils_API_Cookbook

[2016-12-14 15:45] saeid-p opened #208 "Issue With Discrepancies between numbers of results in repositories"
Discrepancies between numbers of results in repositories and in DataMed is an issue. Need to
either synchronize well or explain to users.

A sample query run against GEO using the term “glucocorticoid receptor” produces a
different number of results than a query against GEO. Therefore, the reasons for these
inconsistencies needs to be addressed.

[2016-12-14 15:48] saeid-p commented on #208
Updates to the GEO repository occurred after the ingestion process for DataMed was
completed. Further, we had an older incompletely ingested version of the GEO index for
DataMed v1.0. A quick search for the same term in DataMed v1.5 vs GEO provided 708
results in DataMed v1.5 and 508 in GEO [Entry types: DataSets(17), Series(203),
Samples(355) & Platforms(5)]. The increased results in DataMed v1.5

[2016-12-14 15:49] saeid-p opened #209 "Range of data included is not clear"
* Range of data included is not clear. For example, why are entries in clinicaltrials.gov included? They have no data. Moved to #229
* Some results need links to non-repository pages - such as http://pin.primate.wisc.edu/ .
* Others lead to 404 errors. A means of alerting DataMed to broken links would be helpful. Moved to #230

[2016-12-14 15:51] saeid-p commented on #209
* A subset of clinicaltrials have results (and therefore data) associated with them (23,357 trials out
of a total number of 231,508 studies as of 12/06/2016). While the model hadn’t been updated yet
to accommodate this aspect for DataMed v1.0, in DataMed v1.5, we provide results only from
those studies that have results.
* For the second issue, please provide further details in terms of results re

[2016-12-14 15:52] saeid-p opened #210 "Questions of relationships to other repositories are not clear"
Questions of relationships to other repositories are not clear - for example, re3data.org.

[2016-12-14 15:52] saeid-p commented on #210
Re3data.org is a registry of data repositories that allows users to search for specific data repositories.
DataMed, on the other hand, allows users to search the contents of various data repositories by
indexing them.

[2016-12-14 15:54] saeid-p opened #211 "Couple of issues with repositories."
* In its current version, dataMED appears to have over 20 different data sources representing 65k
data sets and 10 different “data types”. This number is only a small fraction of the number of publicly
available databases as reported in the annual Nucleic Acids Research database issue (see next
paragraph).

* For example, although the link to data types appears to divide the results into some func

[2016-12-14 15:55] saeid-p commented on #211
* We agree that the repository number is limited currently. While we are working to increase
DataMeds’ content, please do bear in mind that DataMed is currently a prototype and will not in its
present form encompass all data resources yet.

* We also have felt the requirement for a data type ontology. The bioCADDIE team has initiated
work in this area. We would like to clarify that the metadata mo

[2016-12-14 15:57] saeid-p commented on #211
* If the meaningful use of data is the objective, why is the focus on a list of data sources rather than on
biological concepts? For example, should every user be familiar with GEO or Array Express or
GEMM or LNCS?#215
* Why are only selected data sources provided? #216
* There does not appear to be a categorization of these data sources that is intuitively useful.
A new issue has been created for

[2016-12-14 16:00] saeid-p commented on #211
* Not every user is expected to be familiar with GEO, Array Express, etc. This is what DataMed is
meant to assist users with - letting them know what repositories (even if they are unknown to the
user) have potential data of interest.
* The repositories are prioritized for ingestion by DataMed on the basis of criteria defined by a working
group organized by bioCADDIE (for details, please check htt

[2016-12-14 16:04] saeid-p commented on #211
### What is DataMed’s definition of a data type?
* bioCADDIE team members are currently working to develop a comprehensive data type ontology which
will provide definitions of types of data that should cover the breadth required for DataMed.
Moved to #217

[2016-12-14 16:04] saeid-p commented on #211
### Although data types are shown, the underlying data model is not clear; for example, what is
the relationship between SRA, Phenotype, and Gene Expression?

* The data model can be found in the DATS documentation (https://biocaddie.org/group/working-group/working-group-3-descriptive-metadata-datasets)
Moved to #218

[2016-12-14 16:05] saeid-p commented on #211
### Why are these considered different data types? Why are mouse phenome database and dbGAP under the same data type?

* Data type ontology is currently being worked as a refinement of DATS 2.1 and The various relationships
will be clear once the is generated.
Moved to #219

[2016-12-14 16:07] saeid-p opened #212 "Suggestions on searching results and displays"
* The faceted search and presentation of results was helpful and will be even more helpful at guiding users to finding datasets when a larger number of repositories are included.
* Underlying data model and searching options were not clear: #218
    * A list of types of search terms would be helpful.
    * **Suggestions:**
        * Include offering example queries.
        * An overview page that

[2016-12-14 16:07] saeid-p commented on #212
Thank you for the suggestions. We are currently also working on generating a detailed HELP and FAQ page. We hope that would be a useful resource for the user. The plan is also to add publications as they are generated.

[2016-12-14 16:08] saeid-p commented on #212
* The ability to collect and manage results of interest via collections, sending to email, etc. is very nice. I also like the ability to save searches.
* Search facets come and go based on dataset. Probably a limitation of metadata, but it’s hard to
know that in advance.
* Minimal sorting options for results - should be able to go by date, as you can in systems
like arrayExpress. #222

[2016-12-14 16:08] saeid-p commented on #212
Sorting by date functionality has been added in DataMed v1.5.

[2016-12-14 16:09] saeid-p commented on #212
* Searching for gene symbols that match common English words (e.g. “BAD”) lead to mismatched
results. Some disambiguation is needed here - can matches to gene names or other specific
symbols be prioritized above generic text searches?
Moved to #223

[2016-12-14 16:09] saeid-p commented on #212
We currently use NLP in conjunction with a terminology server to disambiguate and remove
common English words for the queries. We are working on including enhancements at the backend
(during ingestion and indexing) to complement this functionality.

[2016-12-14 16:09] saeid-p commented on #212
* Auto-complete seems a bit unpredictable, and sometimes will strangely increase and decrease
number of matching results as keys are pressed.
Moved to #224

[2016-12-14 16:09] saeid-p commented on #212
Autocomplete functionality has been removed for basic search due to formatting issues in IE. However, it is available for advanced search option. The results returned depends on the top term being suggested and we could see variation in the number of results being returned if the top term changes.

[2016-12-14 16:09] saeid-p commented on #212
* When a simple query using “glucocorticoid receptor hypothalamus” was used, the results are not
aligned with the intent of the query. The screenshot below shows the results that are returned; do
these results represent datasets, publications and if they are indeed data sets, are they genomic,
clinical or other types of data? Furthermore, there is no mechanism by which the query can be refined
fur

[2016-12-14 16:10] saeid-p commented on #212
All results returned by DataMed are datasets. DataMed does not index publications. We do provide
links to publications where possible. Also, where available, we provide annotations of type of data at
the level of the dataset. This information is unfortunately not provided by the repositories for every
dataset. Therefore, we are able to assign type of data at the repository level only. Information

[2016-12-14 16:27] saeid-p opened #213 "General Usability Issues"
The links to the statistics were helpful and informative in all but one case:
* “4 pilot projects” does not appear to go anywhere, though there are 4 pilot projects listed at the bottom of the page. It’s not clear if that link is broken, or if it is intended to go into the field below. It is also not entirely clear how pilot projects are related to DataMed #233, and how one develops a pilot projec

[2016-12-14 16:27] saeid-p commented on #213
* Pilot project links have been restored in DataMed v1.5. Details about participation in pilot projects are available in the bioCADDIE website.

[2016-12-14 16:27] saeid-p commented on #213
What do the numbers in the “top 8 repositories” refer to? Individual datasets? Something else? Not
clear.
Moved to #226

[2016-12-14 16:27] saeid-p commented on #213
* DataMed v1.5 provides labels for this graph to indicate the top 8 repositories that are displayed in terms of maximum number of datasets in them.

[2016-12-14 16:27] saeid-p commented on #213
I received the following confusing error code a few times: “Error: SimpleXML cannot create object”. This
is an example of poor error feedback, and offers no resolution. I don’t know if it’s something I did, or if
it’s a problem with the database itself. I don’t know if that means I’m missing results that should be
there, or what I should do about it.
Moved to #227

[2016-12-14 16:28] saeid-p commented on #213
* This error issue was noticed internally as we used DataMed v1.0 and has been fixed in DataMed v1.5.

[2016-12-14 16:28] saeid-p commented on #213
# Some Desired Functionality
* Reporting of broken links.
* Sorting results by other fields.
* Explanation of relevance.
* Alerts to new results from saved searches.
* Citation metrics and alerts for individual datasets, including links to publication.
Moved to #228

[2016-12-20 18:50] NinaSalimi opened #214 "Does DataMed carry pointers to the original data sources or does it consist of a local copy of the data, which could possibly have errors or be incomplete?"

[2016-12-20 18:52] #208 closed, assigned to nobody

[2016-12-20 18:58] aegururaj commented on #208
Duplicate of #202

[2016-12-20 19:08] NinaSalimi opened #215 "If the meaningful use of data is the objective, why is the focus on a list of data sources rather than on biological concepts?"
If the meaningful use of data is the objective, why is the focus on a list of data sources rather than on
biological concepts? For example, should every user be familiar with GEO or Array Express or
GEMM or LNCS?

[2016-12-20 19:09] NinaSalimi opened #216 "Why are only selected data sources provided?"
Why are only selected data sources provided?
* There does not appear to be a categorization of these data sources that is intuitively useful.

[2016-12-20 19:14] NinaSalimi commented on #216
The repositories are prioritized for ingestion by DataMed on the basis of criteria defined by a working
group organized by bioCADDIE (for details, please check https://biocaddie.org/group/working-group/working-group-6-criteria-repository-inclusion-standards-interoperability). The group utilizes a priority score (developed and implemented by a working group in bioCADDIE: https://biocaddie.org/group

[2016-12-20 19:16] NinaSalimi commented on #215
Not every user is expected to be familiar with GEO, Array Express, etc. This is what DataMed is
meant to assist users with - letting them know what repositories (even if they are unknown to the
user) have potential data of interest.

[2016-12-20 19:18] NinaSalimi opened #217 "What is DataMed’s definition of a data type?"
#211
bioCADDIE team members are currently working to develop a comprehensive data type ontology which
will provide definitions of types of data that should cover the breadth required for DataMed.

[2016-12-20 19:24] NinaSalimi opened #218 "Although data types are shown, the underlying data model is not clear"
Although data types are shown, the underlying data model is not clear; for example, what is the relationship between SRA, Phenotype, and Gene Expression?

[2016-12-20 19:24] NinaSalimi commented on #218
Taken from #211.
The data model can be found in the DATS documentation (https://biocaddie.org/group/working-group/working-group-3-descriptive-metadata-datasets)

[2016-12-20 19:28] NinaSalimi opened #219 "Why are these considered different data types? Why are mouse phenome database and dbGAP under the same data type?"
Taken from #211.
The current data type ontology is based on  DATS 2.1.  The various relationships will be clear once the new version is generated.

[2016-12-20 20:03] NinaSalimi commented on #211
The issue has been addressed by bioCaddie team.

[2016-12-20 20:03] #211 closed, assigned to nobody

[2016-12-20 20:17] NinaSalimi opened #220 "Underlying data model and searching options were not clear"
duplicate of #218

[2016-12-20 20:23] NinaSalimi opened #221 "If there are any publications related to the resources, providing them could also help clarify the use cases and intended functionality for the user."
Taken from #212

[2016-12-20 20:27] NinaSalimi opened #222 "Minimal sorting options for results - should be able to go by date, as you can in systems like arrayExpress."
Taken from #221.
Sorting by date functionality has been added in DataMed v1.5.

[2016-12-20 20:31] NinaSalimi opened #223 "Searching for gene symbols that match common English words (e.g. “BAD”) lead to mismatched results. Some disambiguation is needed here"
Taken from #212.
We currently use NLP in conjunction with a terminology server to disambiguate and remove
common English words for the queries. We are working on including enhancements at the backend
(during ingestion and indexing) to complement this functionality.

[2016-12-20 20:34] NinaSalimi opened #224 "Auto-complete seems a bit unpredictable, and sometimes will strangely increase and decrease number of matching results as keys are pressed."
Taken from #212.
Autocomplete functionality has been removed for basic search due to formatting issues in IE. However, it is available for advanced search option. The results returned depends on the top term being suggested and we could see variation in the number of results being returned if the top term changes.

[2016-12-20 20:43] NinaSalimi opened #225 "When a simple query using “glucocorticoid receptor hypothalamus” was used, the results are not aligned...."
Taken from#212
When a simple query using “glucocorticoid receptor hypothalamus” was used, the results are not aligned with the intent of the query. The screenshot below shows the results that are returned; do these results represent datasets, publications and if they are indeed data sets, are they genomic, clinical or other types of data? Furthermore (#232), there is no mechanism by which the quer

[2016-12-20 20:54] NinaSalimi commented on #212
The first issue has been addressed by bioCaddie team.For each subsequent question, a new issue has been created.

[2016-12-20 20:54] #212 closed, assigned to nobody

[2016-12-20 20:58] NinaSalimi opened #226 "What do the numbers in the “top 8 repositories” refer to? Individual datasets? Something else? Not clear."
Taken from #213
DataMed v1.5 provides labels for this graph to indicate the top 8 repositories that are displayed in terms of maximum number of datasets in them.

[2016-12-20 21:00] NinaSalimi opened #227 "I received the following confusing error code a few times: “Error: SimpleXML cannot create object”. .."
Taken from #213
I received the following confusing error code a few times: “Error: SimpleXML cannot create object”. This is an example of poor error feedback, and offers no resolution. I don’t know if it’s something I did, or if it’s a problem with the database itself. I don’t know if that means I’m missing results that should be there, or what I should do about it.

Answer: This error issue was n

[2016-12-20 21:12] NinaSalimi commented on #227
The issue has been addressed by bioCaddie team.

[2016-12-20 21:12] #227 closed, assigned to nobody

[2016-12-20 21:15] NinaSalimi opened #228 "Some Desired Functionality"
Taken from #213
Reporting of broken links.
Sorting results by other fields.
Explanation of relevance.
Alerts to new results from saved searches.
Citation metrics and alerts for individual datasets, including links to publication.

[2016-12-20 21:23] NinaSalimi commented on #213
The issue has been addressed by bioCaddie team. For each subsequent question, a new issue was created.

[2016-12-20 21:23] #213 closed, assigned to nobody

[2016-12-20 21:25] NinaSalimi commented on #222
The issue has been addressed by bioCaddie team.

[2016-12-20 21:26] #222 closed, assigned to nobody

[2016-12-20 21:36] NinaSalimi opened #229 "Range of data included is not clear. For example, why are entries in clinicaltrials.gov included?"
Taken from #209
Range of data included is not clear. For example, why are entries in clinicaltrials.gov included? They have no data.

A subset of clinicaltrials have results (and therefore data) associated with them (23,357 trials out
of a total number of 231,508 studies as of 12/06/2016). While the model hadn’t been updated yet
to accommodate this aspect for DataMed v1.0, in DataMed v1.5, we prov

[2016-12-20 21:38] NinaSalimi opened #230 "Some results lead to 404 errors. A means of alerting DataMed to broken links would be helpful."
Taken from #209
Thank you for this very useful suggestion. We are now researching ways to built-in alerts into DataMed that would let the user know if the link is broken.

[2016-12-20 21:39] NinaSalimi commented on #230
The issues was addressed by bioCaddie team.

[2016-12-20 21:39] #230 closed, assigned to nobody

[2016-12-20 21:56] NinaSalimi commented on #218
The issue has been addressed by bioCaddie team.

[2016-12-20 21:56] #218 closed, assigned to nobody

[2016-12-20 21:56] NinaSalimi commented on #217
The issue has been addressed by bioCaddie team.

[2016-12-20 21:57] NinaSalimi commented on #216
The issue has been addressed by bioCaddie team.

[2016-12-20 21:57] #216 closed, assigned to nobody

[2016-12-20 21:57] NinaSalimi commented on #215
The issue has been addressed by bioCaddie team.

[2016-12-20 21:57] #215 closed, assigned to nobody

[2016-12-21 19:55] NinaSalimi opened #231 "Although the link to data types appears to divide the results into some functional categories, it is not clear that the choice of these categories....."
Although the link to data types appears to divide the results into some functional
categories, it is not clear that the choice of these categories is based on data definition standards
or ontologies. Therefore, a standard vocabulary and ontology-driven data model that fully captures
the scientific use cases should precede the development of a Data Discovery Index (DDI).

[2016-12-21 19:56] NinaSalimi commented on #231
We also have felt the requirement for a data type ontology. The bioCADDIE team has initiated
work in this area. We would like to clarify that the metadata model built by the bioCADDIE team is
based on various use cases (provided by multiple stakeholders) and encompassing existing
models in use by the community. Please see
https://biocaddie.org/group/working-group/working-group-3-descriptive-metada

[2016-12-21 19:57] NinaSalimi commented on #231
The issue has been addressed by bioCaddie team.

[2016-12-21 19:57] #231 closed, assigned to nobody

[2016-12-21 23:15] NinaSalimi opened #232 "There is no mechanism by which the query can be refined further. On the left hand side, although there are terms by which the query can be refined, such as selection of gene expression, the results does not provide any guidance on whether the results represent publications, data sources ......"
Taken from #225
There is no mechanism by which the query can be refined further. On the left hand side, although there are terms by which the query can be refined, such as selection of gene expression, the results does not provide any guidance on whether the results represent publications, data sources or whether there is a way to further analyze the results.

[2016-12-21 23:15] NinaSalimi commented on #232
All results returned by DataMed are datasets. DataMed does not index publications. We do provide
links to publications where possible. Also, where available, we provide annotations of type of data at
the level of the dataset. This information is unfortunately not provided by the repositories for every
dataset. Therefore, we are able to assign type of data at the repository level only. Information

[2016-12-21 23:16] NinaSalimi commented on #232
The issue was resolved by bioCaddie team.

[2016-12-21 23:16] #232 closed, assigned to nobody

[2016-12-21 23:41] NinaSalimi opened #233 "How pilot projects are related to DataMed?"

[2017-01-04 17:13] NinaSalimi commented on #223
The issue has been addressed by bioCaddie team.

[2017-01-04 17:13] #223 closed, assigned to nobody

[2017-01-04 17:15] NinaSalimi commented on #225
The issue has been addressed by bioCaddie team.

[2017-01-04 17:15] #225 closed, assigned to nobody

[2017-01-04 17:16] NinaSalimi commented on #226
The issue has been addressed by bioCaddie team.

[2017-01-04 17:16] #226 closed, assigned to nobody

[2017-01-04 17:17] NinaSalimi commented on #229
The issue has been addressed by bioCaddie team.

[2017-01-04 17:17] #229 closed, assigned to nobody

[2017-01-04 17:31] NinaSalimi commented on #217
The issue has been addressed by bioCaddie team.

[2017-01-04 17:31] #217 closed, assigned to nobody

[2017-01-04 17:33] NinaSalimi commented on #220
The issue has been addressed by bioCaddie team, please see #218.

[2017-01-04 17:33] #220 closed, assigned to nobody

[2017-01-05 17:18] agbeltran commented on #206
@DCGenomics could you please clarify what metadata issue you are referring to here?
We are aware of the CDEs and it would be great to explore further.

[2017-01-11 05:55] DataMedFeedback opened #234 "I’m here to inspire seniors all the way to healthier living"
Hi!

Lately I’ve been devoting my focus to senior health — especially since only 28-34% of Americans aged 65-74 are physically active (http://www.fitness.gov/resource-center/facts-and-statistics/).

I’ve had the opportunity to speak with some of the elders in my community, and they said although they do want more physical activity, they feel limited in their options. Fortunately, inspiring others

[2017-01-13 18:19] naturalbeau commented on #162
The GEO dataset indexed by Datamed also has the granularity problem.

[2017-01-13 19:02] yul129 commented on #162
Can you be more specific, Xiaoling?

________________________________
From: Xiaoling [notifications@github.com]
Sent: Friday, January 13, 2017 10:19 AM
To: biocaddie/prototype_issues
Cc: Subscribed
Subject: Re: [biocaddie/prototype_issues] Granularity for TCGA is too fine (#162)

The GEO dataset indexed by Datamed also has the granularity problem.

—
You are receiving this because you are subscrib

[2017-01-13 19:29] naturalbeau commented on #162
For example, when search "GDS998" in datamed, we got one result from geo. But search it on the GEO website, it returns 12 results. Except the same dataset return by datamed, they also return datasets at  sample level.   The GDS998 contains 9 samples. GEO  return each sample data as one result. But in datamed, we only index in dataset level.

[2017-01-13 21:53] RuilingLiu commented on #203
The search type is not defined, that's why there is not filter.
[https://datamed.org/search.php?query=schizophrenia&searchtype=data&offset=1](https://datamed.org/search.php?query=schizophrenia&searchtype=data&offset=1)

[2017-01-13 23:09] RuilingLiu commented on #188
Hi @DCGenomics ,

What does "gh" stand for here?

[2017-01-13 23:30] RuilingLiu commented on #184
Hi @ianfore ,

Right now we don't have accessibility information for each dataset, we only have this information for each repository.

Selecting "download" will display all search results from all downloadable repositories.

For a specific repository, we are unable to filter the search results by accessibility.

[2017-01-14 04:33] DCGenomics commented on #188
Github

On Jan 13, 2017 18:09, "RuilingLiu" <notifications@github.com> wrote:

[2017-01-17 17:31] aegururaj commented on #195
@seandavi , Thanks a lot for offering to connect us to folks at GDC. That would be extremely useful. Please let me know how to move the meeting forward.

[2017-01-17 18:57] RuilingLiu commented on #205
This bug has been fixed. We will push the changes to public version before next release.

[http://datamedbeta.biocaddie.org/display-item.php?repository=0001&id=AU2_bz5eeC0xdfX7MJ02&query=alzheimers](http://datamedbeta.biocaddie.org/display-item.php?repository=0001&id=AU2_bz5eeC0xdfX7MJ02&query=alzheimers)

[2017-01-17 19:48] yul129 opened #235 "Search result page has overlapping issues"
The filter boxes run over the searching content text.

<img width="790" alt="screen shot 2017-01-17 at 11 37 40 am" src="https://cloud.githubusercontent.com/assets/11788723/22037052/9779b6a0-dcaa-11e6-821a-b75ffd303fd9.png">

[2017-01-17 21:06] jgrethe commented on #162
We may need to have two GEO indices - at two levels of granularity.  Question is - how will we handle this in the interface?

[2017-01-18 16:03] RuilingLiu commented on #172
The syntax for taxonomic designations has been updated. We will update the public DataMed site later. Thank you for pointing this out!

![screen shot 2017-01-18 at 10 00 20 am](https://cloud.githubusercontent.com/assets/11318005/22071493/f473b92c-dd64-11e6-8978-84b65ed740e2.png)

[2017-01-18 19:24] DataMedFeedback opened #236 "Broken links"
I work for the Specialized Information Services division at the National Library of Medicine. I'm involved with the TOXNET databases. I did a search for toxicology repositories (https://datamed.org/search.php?query=toxicology&searchtype=repository) and found that our Developmental and Reproductive Toxicology Database is listed but with an incorrect link. The correct link should be https://toxnet.n

[2017-01-18 22:05] RuilingLiu commented on #236
The link to Developmental and Reproductive Toxicology Database has been corrected.

The link to the Perlegen/NIEHS National Toxicology: Mouse Genome Resequencing Project is not broken. There is a problem with their website.

[2017-01-20 19:37] RuilingLiu commented on #163
The metadata of GDC (TCGA + TARGET) has been updated. Searching DataMed v1.5 with the name of a disease studied in TCGA will return results in TCGA

[https://datamed.org/search.php?searchtype=data&query=%20&offset=1&repository=0026](https://datamed.org/search.php?searchtype=data&query=%20&offset=1&repository=0026)

[https://datamed.org/search.php?searchtype=data&query=Adrenocortical%20Carcinoma&of

[2017-01-20 19:38] RuilingLiu commented on #162
The metadata of GDC (TCGA + TARGET) has been updated.

[https://datamed.org/search-repository.php?query=%20&searchtype=data&repository=0026](https://datamed.org/search-repository.php?query=%20&searchtype=data&repository=0026)

[2017-01-24 20:31] ianfore opened #237 "Require additional filters on data"
File type
Data Restrictions (data use agreement, restricted, unrestricted)
Data Level (participant/aggregate)
Population (mouse, human, etc)

(copied this from the 2,0 requirements spreadsheet. The spreadsheet was pointing to another issue that didn't really cover this).

[2017-01-24 20:32] ianfore commented on #237
Like disease (see issue #191), these filtersmight show up in advanced search. Basically suggest that advanced search allows search on any of the attributes in DATS. i.e. if it's in DATS it should be searchable - and if it isn't needed for search it doesn't need to be in DATS.

Any of these attributes is also a candidate for a facet too of course.

[2017-01-24 20:33] ianfore commented on #191
See also #237

[2017-01-25 18:45] RuilingLiu commented on #203
This is a bug caused by search type and it has been fixed

[2017-01-25 21:31] ianfore opened #238 "Bioproject entries show up twice"
See the example query result in the attached screenshot. Though four results are shown there are only really two studies/datasets.

To take one example
![bioproject2](https://cloud.githubusercontent.com/assets/4731517/22310109/0b04d0c4-e31c-11e6-85e1-dea556609d60.jpg)

PRJNA75873 is the project
PRJNA75875 is a sub project and there is only one sub-project

Does it make sense to show this twice?

M

[2017-01-25 21:58] yul129 opened #239 ""Similar Datasets" section does not show all results"
See the attached [screenshot](https://datamed.org/display-item.php?repository=0008&id=576adca4e4b0937a01a805de&query=PRJNA75875), some of the results are not shown up correctly, and when you click on the dots, they result in blank pages.
<img width="362" alt="screen shot 2017-01-25 at 1 50 08 pm" src="https://cloud.githubusercontent.com/assets/11788723/22310986/366e2c44-e306-11e6-8bed-9ff0ecaacd6c

[2017-02-08 04:27] altergc opened #240 "Problems with ICPSR records"
There are 3 problems with the presentation of ICPSR records in DataMed:

1. ICPSR data are incorrectly attributed to Dataverse and Harvard.  Dataverse harvests ICPSR metadata.  There is a field in Dataverse metadata indicating the repository is ICPSR, but this was not used.  In addition, the incorrect Dataverse records appear first in the search list.
Solution: Delete every record from Dataverse t

[2017-02-10 23:43] Project-Sugar opened #241 "Definitions of Data Type"
It is unclear how the data types are defined in DataMed. UnitProt is a protein sequence database. Although you may argue that a protein sequence is primary structure of proteins, it is not common to call UniProt a Protein Structure database, which is a special term for 3D protein structure.

BGI is an organization name. They have several repositories and they archive different types of data. It is

[2017-02-13 22:22] koweilin opened #242 "Datamed website is not working"
I received this e-mail from Dr. John S. Kaddis, City of Hope National Medical Center at 8:23 AM on Monday, Feb. 13, 2017. The website is working now. This is just for your team to keep the issue record.

From: Kaddis, John [JKaddis@coh.org]
Sent: Monday, February 13, 2017 8:23 AM
To: Lin, Ko-Wei
Subject: can you pass this message along?

https://datamed.org  website is not working.

Thank you Ko-W

[2017-02-14 03:31] aegururaj commented on #242
@koweilin, Thanks for logging the issue.

[2017-02-14 03:31] #242 closed, assigned to nobody

[2017-02-14 18:25] jgrethe commented on #240
@yul129 Can you check out 2 above.

@aegururaj I believe 3 is on your side?

For 1 - this is part of the DataVerse re-visit

[2017-02-15 17:36] naturalbeau commented on #240
I have fixed 3 in the code. It should be reflected when we update the code in the server.